In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.114547 -0.339607
1    a  two -0.196476 -0.084573
2    b  one  0.435257  0.530166
3    b  two  0.143513  0.313450
4    a  one -0.772707 -0.431609

In [3]:
grouped = df['data1'].groupby(df['key1'])

grouped

In [4]:
grouped.mean()

key1
a   -0.361243
b    0.289385
Name: data1, dtype: float64