In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.218307  0.390582
1    a  two -0.283562 -0.768715
2    b  one  1.180286  0.190869
3    b  two  1.587376 -0.875547
4    a  one -0.449039 -0.729195

In [7]:
grouped = df['data1'].groupby(df['key1'])

In [8]:
grouped.mean()

key1
a    0.161902
b    1.383831
Name: data1, dtype: float64

In [10]:
grouped = df['data1'].groupby(df['key2'])
grouped.mean()

key2
one    0.649851
two    0.651907
Name: data1, dtype: float64