In [1]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.191080  1.180735 -0.590038
台中 -0.417925  1.120067 -0.172956
台南  0.289817 -1.808094  0.681927
高雄  0.441602 -1.058676  0.391594

In [3]:
np.absolute(frame)

           b         d         e
台北  0.191080  1.180735  0.590038
台中  0.417925  1.120067  0.172956
台南  0.289817  1.808094  0.681927
高雄  0.441602  1.058676  0.391594

In [7]:
def f(x):
    return x.max() - x.min()

frame.apply(f)
frame.apply(lambda x: x.max()-x.min())

b    0.859527
d    2.988829
e    1.271965
dtype: float64

In [8]:
frame.apply(f,axis=1)
frame.apply(lambda x: x.max() + x.min(),axis=1)

台北    0.590697
台中    0.702142
台南   -1.126167
高雄   -0.617074
dtype: float64

In [10]:
frame.apply(lambda x:pd.Series([x.max(),x.min()],index=['max','min']))

            b         d         e
max  0.441602  1.180735  0.681927
min -0.417925 -1.808094 -0.590038

In [13]:
newFrame = frame.apply(lambda x:pd.Series([x.max(),x.min()],index=['max','min']),axis=1)
newFrame.T

           台北        台中        台南        高雄
max  1.180735  1.120067  0.681927  0.441602
min -0.590038 -0.417925 -1.808094 -1.058676