In [1]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.191080  1.180735 -0.590038
台中 -0.417925  1.120067 -0.172956
台南  0.289817 -1.808094  0.681927
高雄  0.441602 -1.058676  0.391594

In [3]:
np.absolute(frame)

           b         d         e
台北  0.191080  1.180735  0.590038
台中  0.417925  1.120067  0.172956
台南  0.289817  1.808094  0.681927
高雄  0.441602  1.058676  0.391594

In [7]:
def f(x):
    return x.max() - x.min()

frame.apply(f)
frame.apply(lambda x: x.max()-x.min())

b    0.859527
d    2.988829
e    1.271965
dtype: float64

In [8]:
frame.apply(f,axis=1)
frame.apply(lambda x: x.max() + x.min(),axis=1)

台北    0.590697
台中    0.702142
台南   -1.126167
高雄   -0.617074
dtype: float64

In [10]:
frame.apply(lambda x:pd.Series([x.max(),x.min()],index=['max','min']))

            b         d         e
max  0.441602  1.180735  0.681927
min -0.417925 -1.808094 -0.590038

In [13]:
newFrame = frame.apply(lambda x:pd.Series([x.max(),x.min()],index=['max','min']),axis=1)
newFrame.T

           台北        台中        台南        高雄
max  1.180735  1.120067  0.681927  0.441602
min -0.590038 -0.417925 -1.808094 -1.058676

In [14]:
scores = np.random.randint(50,101,size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_pd.index.name="學號"
scores_pd.columns.name="科目"
scores_pd

科目   國文   英文   數學   地理  歷史
學號
1    63   83   96   75  52
2    80   82   90   66  97
3    79   77   85   95  51
4    95   61   93   59  77
5    51   81   69   65  67
6    61   80   95   95  72
7    84   64   90   97  69
8    50   71   63   51  97
9    82   89   94   83  70
10   62  100   65   60  68
11   94   72   65   98  50
12   84   85   75   96  91
13   70   85   68   83  96
14   77   83   74   59  82
15   89   68   92   53  73
16   72   79   74   66  88
17   87   79   94   54  89
18   90   91   93   83  78
19   90   83   56   86  94
20   92   71   89   81  87
21   84   93   55   66  92
22   62   70   76   66  66
23   58   72   79   84  54
24   73   60   99  100  69
25   94   79   70   93  75
26   86   95   74   69  72
27   78   97  100   93  55
28   62   96   90   51  79
29   99   98   79   87  70
30   54   69   55   79  97
31   53   67   75   67  72
32   76   66   98   74  57
33   73   52   57   59  81
34  100   51   64   74  77
35   70   60   51   53  89
36   89   93   84   90  61
37   63   58   76   64  80
38   91   96   94   90  50
39   83   91   92   65  87
40   94   81   69   65  57
41   89   86   91   98  75
42   66   57   81   91  80
43   79   90   95   69  70
44   75   50   68   74  68
45   99   66   68   78  57
46   97   76   97   79  60
47   72   81   69  100  94
48   69   95   60   93  80
49   65   63   78   84  90
50   62   98   76   56  62

In [15]:
def callf(s):
    return pd.Series([s.min(),s.max(),s.median(),s.mean()],index=['最低分','最高分','中間分','平均'])

scores_pd.apply(callf)

科目       國文     英文     數學      地理     歷史
最低分   50.00   50.0   51.0   51.00  50.00
最高分  100.00  100.0  100.0  100.00  97.00
中間分   78.50   79.5   77.0   76.50  74.00
平均    77.34   77.8   78.8   76.32  74.48