In [1]:
import pandas as pd
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame = pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [2]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame = pd.DataFrame(data,columns=['年份','人口','縣市']) #重新排序欄
frame

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [3]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame = pd.DataFrame(data,columns=['縣市','人口']) #過濾欄位
frame

   縣市   人口
0  台北  2.2
1  台北  2.5
2  台北  2.7
3  新竹  1.1
4  新竹  1.5
5  新竹  2.0

In [5]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame = pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [8]:
frame['縣市']

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

In [9]:
frame['人口']

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [11]:
frame['人口'] = [3.2,3.5, 3.7, 3.1,2.5, 3.0]
frame

   縣市    年份   人口
0  台北  2000  3.2
1  台北  2001  3.5
2  台北  2002  3.7
3  新竹  2001  3.1
4  新竹  2002  2.5
5  新竹  2003  3.0

In [12]:
frame['人口'][0] = 10
frame

/var/folders/by/68nnsq553f59kbs1v470m4k40000gp/T/ipykernel_2107/3921288224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame['人口'][0] = 10

   縣市    年份    人口
0  台北  2000  10.0
1  台北  2001   3.5
2  台北  2002   3.7
3  新竹  2001   3.1
4  新竹  2002   2.5
5  新竹  2003   3.0

In [14]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
frame = pd.DataFrame(data,index=['one','two','three','four','five','six'])
frame

       縣市    年份   人口
one    台北  2000  2.2
two    台北  2001  2.5
three  台北  2002  2.7
four   新竹  2001  1.1
five   新竹  2002  1.5
six    新竹  2003  2.0

In [15]:
frame['縣市']

one      台北
two      台北
three    台北
four     新竹
five     新竹
six      新竹
Name: 縣市, dtype: object

In [16]:
frame.縣市

one      台北
two      台北
three    台北
four     新竹
five     新竹
six      新竹
Name: 縣市, dtype: object

In [18]:
frame.loc['one']

縣市      台北
年份    2000
人口     2.2
Name: one, dtype: object

In [19]:
frame.loc['two']

縣市      台北
年份    2001
人口     2.5
Name: two, dtype: object

In [21]:
del frame['年份']
frame

       縣市   人口
one    台北  2.2
two    台北  2.5
three  台北  2.7
four   新竹  1.1
five   新竹  1.5
six    新竹  2.0

In [22]:
frame.T

    one  two three four five  six
縣市   台北   台北    台北   新竹   新竹   新竹
人口  2.2  2.5   2.7  1.1  1.5  2.0

In [24]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
frame = pd.DataFrame(data,index=['one','two','three','four','five','six'])
frame.index.name = "索引"
frame.columns.name="項目"
frame

項目     縣市    年份   人口
索引
one    台北  2000  2.2
two    台北  2001  2.5
three  台北  2002  2.7
four   新竹  2001  1.1
five   新竹  2002  1.5
six    新竹  2003  2.0