In [2]:
import numpy as np
import pandas as pd 

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.126319 -0.809153
1    a  two  1.555927  0.102963
2    b  one -0.532447  0.368786
3    b  two  0.906053 -0.416834
4    a  one  1.919481 -1.611215

In [4]:
#不建議
df['data1'].groupby(df['key1']).sum()

key1
a    3.349089
b    0.373606
Name: data1, dtype: float64

In [10]:
#先建立DataFrameGroup()
#再取出Serial
df.groupby('key1')['data1'].sum()

key1
a    3.349089
b    0.373606
Name: data1, dtype: float64

In [12]:
df.groupby('key1')[['data1','data2']].sum()

         data1     data2
key1
a     3.349089 -2.317405
b     0.373606 -0.048048