In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.456006  0.053333
1    a  two -0.469688  0.000163
2    b  one -3.037710  0.307306
3    b  two  0.208979 -0.357901
4    a  one -0.322828 -0.673031

In [4]:
grouped = df['data1'].groupby(df['key1'])

In [5]:
grouped.mean()

key1
a    0.221163
b   -1.414365
Name: data1, dtype: float64

In [6]:
grouped = df['data1'].groupby(df['key2'])
grouped.sum()

key2
one   -1.904531
two   -0.260709
Name: data1, dtype: float64

In [8]:
grouped1 = df['data1'].groupby([df['key1'],df['key2']])
means = grouped1.mean()

In [10]:
means.unstack()

key2       one       two
key1
a     0.566589 -0.469688
b    -3.037710  0.208979

In [17]:
df.groupby(df['key1']).sum()

         data1     data2
key1
a     0.663490 -0.619535
b    -2.828731 -0.050595