In [12]:
import numpy as np
import pandas as pd
df = pd.read_csv('交通流量.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   路線方向    756 non-null    object
 1   路段      756 non-null    object
 2   交流道     756 non-null    object
 3   進出口     756 non-null    object
 4   週六      756 non-null    object
 5   週日      756 non-null    object
 6   週2-4    756 non-null    object
dtypes: object(7)
memory usage: 41.5+ KB

In [11]:
#檢查是null
df['週六'][0] = np.nan
df.isnull().sum()

路線方向    0
路段      0
交流道     0
進出口     0
週六      1
週日      0
週2-4    0
dtype: int64

In [14]:
df = pd.read_csv('交通流量.csv')
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   路線方向    756 non-null    object
 1   路段      756 non-null    object
 2   交流道     756 non-null    object
 3   進出口     756 non-null    object
 4   週六      756 non-null    object
 5   週日      756 non-null    object
 6   週2-4    756 non-null    object
dtypes: object(7)
memory usage: 41.5+ KB

路線方向    0
路段      0
交流道     0
進出口     0
週六      0
週日      0
週2-4    0
dtype: int64

In [23]:
def convertToInt(v):
    return 1

df['週六'].map(lambda v:1)

0      1
1      1
2      1
3      1
4      1
      ..
751    1
752    1
753    1
754    1
755    1
Name: 週六, Length: 756, dtype: int64

In [25]:
df['週六'].map(lambda v:int(v))

ValueError: invalid literal for int() with base 10: '19,726'

In [26]:
def checkConvert(v):
    try:
        return int(v)
    except:
        print(v)
        return 0
df['週六'].map(checkConvert)

19,726
17,193

0      34246
1       9484
2       2108
3       6051
4      10785
       ...
751     4612
752     6515
753    10822
754     5196
755    12946
Name: 週六, Length: 756, dtype: int64

In [28]:
myValue = '19,726'
myList = myValue.split(',')
myList
''.join(myList)

'19726'

In [32]:
def strToInt(v):
    try:
        return int(v)
    except:
        myList = v.split(',')
        newString = ''.join(myList)
        return newString

df['週六'] = df['週六'].map(strToInt)
df['週日'] = df['週日'].map(strToInt)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   路線方向    756 non-null    object
 1   路段      756 non-null    object
 2   交流道     756 non-null    object
 3   進出口     756 non-null    object
 4   週六      756 non-null    int64
 5   週日      756 non-null    int64
 6   週2-4    756 non-null    object
dtypes: int64(2), object(5)
memory usage: 41.5+ KB

In [34]:
df

      路線方向     路段   交流道         進出口     週六     週日   週2-4
0     國1南向  非主線資料   基隆端          進口  34246  31547  29403
1     國1南向  非主線資料    基隆          出口   9484   8123   9403
2     國1南向  非主線資料    基隆  進口1-尚仁路,基隆   2108   1997   2579
3     國1南向  非主線資料    基隆  進口2-麥金路,金山   6051   5398   5895
4     國1南向  非主線資料    八堵          進口  10785  11990   9027
..     ...    ...   ...         ...    ...    ...    ...
751  國10西向  非主線資料  燕巢系統          出口   4612   4647   3906
752  國10西向  非主線資料  燕巢系統     進口1-國3南   6515   8890   6517
753  國10西向  非主線資料  燕巢系統     進口2-國3北  10822  13415  11181
754  國10西向  非主線資料    嶺口          進口   5196   5680   4242
755  國10西向  非主線資料   旗山端          進口  12946  17106  10412

[756 rows x 7 columns]