In [1]:
import numpy as np
import pandas as pd
result = pd.read_csv('ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [4]:
result.index.name = '編號'
newResult = result.reset_index().set_index(['key','編號'])
newResult

               one       two     three      four
key 編號
L   0     0.467976 -0.038649 -0.295344 -1.824726
B   1    -0.358893  1.404453  0.704965 -0.200638
G   2    -0.501840  0.659254 -0.421691 -0.057688
R   3     0.204886  1.074134  1.388361 -0.982404
Q   4     0.354628 -0.133116  0.283763 -0.837063
...            ...       ...       ...       ...
L   9995  2.311896 -0.417070 -1.409599 -0.515821
E   9996 -0.479893 -0.650419  0.745152 -0.646038
K   9997  0.523331  0.787112  0.486066  1.093156
G   9998 -0.362559  0.598894 -1.843201  0.887292
0   9999 -0.096376 -1.012999 -0.657431 -0.573315

[10000 rows x 4 columns]