In [1]:
import numpy as np
import pandas as pd

frame=pd.DataFrame(np.random.randn(4,3),
            columns = ['a','b','c'],
            index=['台北','台中','台南','高雄'])
frame

           a         b         c
台北  0.631116  2.710768  0.448234
台中  0.404246 -0.668761 -0.816792
台南  0.507496 -2.914010  0.780019
高雄 -0.336037 -0.057770  0.138129

In [2]:
frame.dtypes

a    float64
b    float64
c    float64
dtype: object

In [3]:
frame['a']

台北    0.631116
台中    0.404246
台南    0.507496
高雄   -0.336037
Name: a, dtype: float64

In [4]:
def fm(x):    
    return 0

frame['a'] = frame['a'].map(fm)

In [5]:
def fm1(x):
    return 1
frame['b'] = frame['b'].map(fm1)

In [6]:
frame

    a  b         c
台北  0  1  0.448234
台中  0  1 -0.816792
台南  0  1  0.780019
高雄  0  1  0.138129

In [7]:
def fm2(x):
    return '{:.2f}'.format(x)
frame['c'] = frame['c'].map(fm2)
frame

    a  b      c
台北  0  1   0.45
台中  0  1  -0.82
台南  0  1   0.78
高雄  0  1   0.14