In [1]:
import pandas as pd
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame = pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [2]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame = pd.DataFrame(data,columns=['年份','人口','縣市']) #重新排序欄
frame

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [3]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame = pd.DataFrame(data,columns=['縣市','人口']) #過濾欄位
frame

   縣市   人口
0  台北  2.2
1  台北  2.5
2  台北  2.7
3  新竹  1.1
4  新竹  1.5
5  新竹  2.0

In [5]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame = pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [8]:
frame['縣市']

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

In [9]:
frame['人口']

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [11]:
frame['人口'] = [3.2,3.5, 3.7, 3.1,2.5, 3.0]
frame

   縣市    年份   人口
0  台北  2000  3.2
1  台北  2001  3.5
2  台北  2002  3.7
3  新竹  2001  3.1
4  新竹  2002  2.5
5  新竹  2003  3.0

In [12]:
frame['人口'][0] = 10
frame

/var/folders/by/68nnsq553f59kbs1v470m4k40000gp/T/ipykernel_2107/3921288224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame['人口'][0] = 10

   縣市    年份    人口
0  台北  2000  10.0
1  台北  2001   3.5
2  台北  2002   3.7
3  新竹  2001   3.1
4  新竹  2002   2.5
5  新竹  2003   3.0

In [14]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
frame = pd.DataFrame(data,index=['one','two','three','four','five','six'])
frame

       縣市    年份   人口
one    台北  2000  2.2
two    台北  2001  2.5
three  台北  2002  2.7
four   新竹  2001  1.1
five   新竹  2002  1.5
six    新竹  2003  2.0

In [15]:
frame['縣市']

one      台北
two      台北
three    台北
four     新竹
five     新竹
six      新竹
Name: 縣市, dtype: object

In [16]:
frame.縣市

one      台北
two      台北
three    台北
four     新竹
five     新竹
six      新竹
Name: 縣市, dtype: object

In [18]:
frame.loc['one']

縣市      台北
年份    2000
人口     2.2
Name: one, dtype: object

In [19]:
frame.loc['two']

縣市      台北
年份    2001
人口     2.5
Name: two, dtype: object

In [21]:
del frame['年份']
frame

       縣市   人口
one    台北  2.2
two    台北  2.5
three  台北  2.7
four   新竹  1.1
five   新竹  1.5
six    新竹  2.0

In [22]:
frame.T

    one  two three four five  six
縣市   台北   台北    台北   新竹   新竹   新竹
人口  2.2  2.5   2.7  1.1  1.5  2.0

In [24]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
frame = pd.DataFrame(data,index=['one','two','three','four','five','six'])
frame.index.name = "索引"
frame.columns.name="項目"
frame

項目     縣市    年份   人口
索引
one    台北  2000  2.2
two    台北  2001  2.5
three  台北  2002  2.7
four   新竹  2001  1.1
five   新竹  2002  1.5
six    新竹  2003  2.0

In [29]:
import numpy as np
import pandas as pd
data = np.random.randint(50,101,size=(50,5))
students = pd.DataFrame(data,index=range(1,51),columns=['國文','英文','數學','地理','歷史'])

In [30]:
students.index.name='學號'
students.columns.name='科目'
students

科目   國文   英文   數學  地理   歷史
學號
1   100   78   98  75   97
2    72   62   87  93   74
3    88   55   95  74   89
4    99   78   81  68   75
5    95   79   84  67   76
6    79   95   90  92   91
7    71   97   55  53   97
8    88   97   88  55   70
9    93   56   62  54   75
10   92   50   79  92   92
11   59   65   62  98   56
12   94   90   85  66   96
13   52   52   62  81   80
14   89   78   95  67   64
15   76   63   92  79   50
16   74   72   83  74   63
17   93   62   61  68   60
18   55   65   96  68   74
19   71   63   72  68   92
20   59   97   67  81   54
21   70   78   55  60   95
22   94   54   79  64   52
23   81   73   68  73   50
24   77   74   57  81   73
25   85   75   54  65   61
26   82   71   98  86   88
27   52   59   63  56   82
28   88   60   55  84   94
29   82   68   61  67   56
30   84   59   65  80   81
31   57   50   95  68   54
32   72  100   67  95   78
33   53   54   54  97   93
34   57   67   51  68   61
35   74   92   58  52   97
36   64   50   86  73   52
37   92   69   69  69   75
38   69   64   71  66   77
39   63   75   52  77   95
40   51   62   55  66  100
41   70   92   84  67   81
42   54   95   55  99   65
43   64   91   78  50   72
44   97   67  100  98   86
45   93   96   97  66   54
46   55   97   76  85   85
47   89   91   82  89   50
48   50   97   72  58   80
49   59   95   61  73   96
50   52   88   69  73   78

In [31]:
students.loc[1]

科目
國文    100
英文     78
數學     98
地理     75
歷史     97
Name: 1, dtype: int64

In [32]:
students.loc[1].sum()

448

In [33]:
students.loc[1].mean()

89.6

In [34]:
students.sum()

科目
國文    3729
英文    3717
數學    3681
地理    3678
歷史    3786
dtype: int64

In [42]:
sum_values = students.sum(axis=1)
sum_values

學號
1     985.6
2     853.6
3     882.2
4     882.2
5     882.2
6     983.4
7     820.6
8     875.6
9     748.0
10    891.0
11    748.0
12    948.2
13    719.4
14    864.6
15    792.0
16    805.2
17    756.8
18    787.6
19    805.2
20    787.6
21    787.6
22    754.6
23    759.0
24    796.4
25    748.0
26    935.0
27    686.4
28    838.2
29    734.8
30    811.8
31    712.8
32    906.4
33    772.2
34    668.8
35    820.6
36    715.0
37    822.8
38    763.4
39    796.4
40    734.8
41    866.8
42    809.6
43    781.0
44    985.6
45    893.2
46    875.6
47    882.2
48    785.4
49    844.8
50    792.0
dtype: float64

In [40]:
mean_values = students.mean(axis='columns')

In [41]:
students['總分'] = sum_values
students['平均'] = mean_values
students

科目   國文   英文   數學  地理   歷史   總分    平均
學號
1   100   78   98  75   97  448  89.6
2    72   62   87  93   74  388  77.6
3    88   55   95  74   89  401  80.2
4    99   78   81  68   75  401  80.2
5    95   79   84  67   76  401  80.2
6    79   95   90  92   91  447  89.4
7    71   97   55  53   97  373  74.6
8    88   97   88  55   70  398  79.6
9    93   56   62  54   75  340  68.0
10   92   50   79  92   92  405  81.0
11   59   65   62  98   56  340  68.0
12   94   90   85  66   96  431  86.2
13   52   52   62  81   80  327  65.4
14   89   78   95  67   64  393  78.6
15   76   63   92  79   50  360  72.0
16   74   72   83  74   63  366  73.2
17   93   62   61  68   60  344  68.8
18   55   65   96  68   74  358  71.6
19   71   63   72  68   92  366  73.2
20   59   97   67  81   54  358  71.6
21   70   78   55  60   95  358  71.6
22   94   54   79  64   52  343  68.6
23   81   73   68  73   50  345  69.0
24   77   74   57  81   73  362  72.4
25   85   75   54  65   61  340  68.0
26   82   71   98  86   88  425  85.0
27   52   59   63  56   82  312  62.4
28   88   60   55  84   94  381  76.2
29   82   68   61  67   56  334  66.8
30   84   59   65  80   81  369  73.8
31   57   50   95  68   54  324  64.8
32   72  100   67  95   78  412  82.4
33   53   54   54  97   93  351  70.2
34   57   67   51  68   61  304  60.8
35   74   92   58  52   97  373  74.6
36   64   50   86  73   52  325  65.0
37   92   69   69  69   75  374  74.8
38   69   64   71  66   77  347  69.4
39   63   75   52  77   95  362  72.4
40   51   62   55  66  100  334  66.8
41   70   92   84  67   81  394  78.8
42   54   95   55  99   65  368  73.6
43   64   91   78  50   72  355  71.0
44   97   67  100  98   86  448  89.6
45   93   96   97  66   54  406  81.2
46   55   97   76  85   85  398  79.6
47   89   91   82  89   50  401  80.2
48   50   97   72  58   80  357  71.4
49   59   95   61  73   96  384  76.8
50   52   88   69  73   78  360  72.0