In [1]:
import pandas as pd
#Series
obj=pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [2]:
obj.index = ["Bob", 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [3]:
#DataFrame
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
frame = pd.DataFrame(data=data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0