In [1]:
l = ['a', 'b', 'c']
for item in l:
    print(item)

a
b
c

In [6]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  1.223698  1.587291 -1.996802
台中 -0.780085 -0.078101 -1.282743
台南  0.858759 -0.399822 -0.021997
高雄 -0.084951  1.200429 -0.430696

In [11]:
def fun1(s):    
    return s

frame.apply(fun1)

           b         d         e
台北  1.223698  1.587291 -1.996802
台中 -0.780085 -0.078101 -1.282743
台南  0.858759 -0.399822 -0.021997
高雄 -0.084951  1.200429 -0.430696

In [12]:
def fun2(s):    
    return s.max()

frame.apply(fun2)

b    1.223698
d    1.587291
e   -0.021997
dtype: float64

In [13]:
def fun3(s):
    return pd.Series([s.max(), s.min()], index=['最大值','最小值'])

frame.apply(fun3)

            b         d         e
最大值  1.223698  1.587291 -0.021997
最小值 -0.780085 -0.399822 -1.996802

In [14]:
#練習建立學生成績單
import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_pd.index.name="學號"
scores_pd.columns.name="科目"
scores_pd

科目   國文   英文  數學   地理   歷史
學號
1    58   85  68   84   82
2    53   80  69   76   54
3    51   69  78   67  100
4    83   76  57   86   71
5    78   51  81   93   64
6    68   64  85   87   55
7    92   93  90   95   63
8    60  100  91   59   90
9    99   89  64   91   72
10   85   81  76   94   90
11   59   52  97   79   99
12   61   51  54   79   80
13   56   78  57  100   83
14   50   72  86   50   91
15   77   65  95   89   96
16   75   84  84   65   87
17   50   56  76   92   69
18   69   95  88   56   99
19   95   64  64   62   59
20   99   62  72   82   68
21   84   85  63   73   60
22   70   55  61   53   74
23   83   95  85   86   96
24   90   76  81   59   64
25   75   85  59   90   55
26   88   90  67   81   66
27   76   60  69   85   61
28   76   58  91   69  100
29   84   58  88   64   57
30   88   51  85   89   54
31   64   63  82   94   61
32   99   66  71   62   73
33   94   58  74   78   50
34   68   91  86   70   88
35   93   74  79   95   95
36   92   80  59   84   75
37   93   92  89   58   71
38   57   67  92   61   73
39   75   55  58   75   58
40   70  100  63   95   55
41   69   85  55   72   51
42   51   71  61   50   60
43   87   75  64   74   79
44   54   72  83   81   99
45   50   89  93   90   73
46   51   61  60   84   79
47   91   60  68   80   65
48  100   68  55   85   69
49   53   54  70   82   98
50   84   92  58   72   75

In [16]:
#使用apply(),做統計動作,產生新的DataFrame

def cal1(s):
    return pd.Series([s.min(),s.max(),s.median()],index=['最低分','最高分','中間值'])

scores_pd.apply(cal1)

科目      國文     英文    數學     地理     歷史
最低分   50.0   51.0  54.0   50.0   50.0
最高分  100.0  100.0  97.0  100.0  100.0
中間值   75.5   72.0  73.0   80.5   72.5

In [18]:
#使用lambda代替function
scores_pd.apply(lambda s: pd.Series([s.min(),s.max(),s.median()],index=['最低分','最高分','中間值']))

科目      國文     英文    數學     地理     歷史
最低分   50.0   51.0  54.0   50.0   50.0
最高分  100.0  100.0  97.0  100.0  100.0
中間值   75.5   72.0  73.0   80.5   72.5

In [19]:
#applymap()

import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -1.300900  0.726739 -0.941233
台中  0.917895  0.739395  0.448702
台南  0.124998 -0.537894 -0.263647
高雄 -0.463406  0.433358  1.901111

In [20]:
frame.applymap(lambda v: '%.2f' % v)

        b      d      e
台北  -1.30   0.73  -0.94
台中   0.92   0.74   0.45
台南   0.12  -0.54  -0.26
高雄  -0.46   0.43   1.90

In [22]:
frame['b'].map(lambda v: '%.2f' % v)

台北    -1.30
台中     0.92
台南     0.12
高雄    -0.46
Name: b, dtype: object

In [23]:
#練習建立學生成績單
import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_pd.index.name="學號"
scores_pd.columns.name="科目"
scores_pd

科目  國文  英文   數學   地理   歷史
學號
1   98  84  100   57   98
2   69  93   66   80   87
3   73  85   80   79   83
4   80  91   81   69   77
5   74  92   71   89   69
6   94  92   76   61   69
7   65  54   65   99   82
8   62  75   92   72   51
9   56  62   99   55   95
10  66  73   51   86   54
11  77  87   79   80   84
12  69  70   83   65   99
13  86  89  100   99   85
14  55  76   77   50   63
15  58  81   52   82   88
16  65  59   74   55   99
17  83  95   89   60   77
18  51  66   96   86   89
19  99  60   57   72   54
20  67  55   80   69  100
21  59  67   54   65   58
22  80  87   95   94   79
23  74  75   54   83   52
24  61  58   85   62   92
25  53  53   88   81   96
26  91  89   95   97   53
27  61  95   67   65   50
28  54  79   54   78   88
29  82  77   76   83   50
30  64  53  100   79   80
31  93  50   69   91   90
32  81  54   67   92   87
33  84  71   76   83   53
34  51  80   67   56   50
35  77  84   87   63   85
36  56  70   90   95   57
37  89  73   82   52   59
38  88  85   58   74   54
39  83  58   75   99   61
40  97  87   78   87   92
41  81  60   90   56   66
42  98  81   73   57   73
43  66  95  100   65  100
44  73  89   74   86   58
45  92  79   76   94   67
46  65  97   90   54   60
47  54  72   79   99   76
48  69  63   50   56   96
49  71  93   98  100   78
50  63  99   70   56   67

In [24]:
#整欄
scores_pd.sum()

科目
國文    3657
英文    3812
數學    3885
地理    3767
歷史    3730
dtype: int64

In [25]:
#整列
scores_pd.sum(axis=1)

學號
1     437
2     395
3     400
4     398
5     395
6     392
7     365
8     352
9     367
10    330
11    407
12    386
13    459
14    321
15    361
16    352
17    404
18    388
19    342
20    371
21    303
22    435
23    338
24    358
25    371
26    425
27    338
28    353
29    368
30    376
31    393
32    381
33    367
34    304
35    396
36    368
37    355
38    359
39    376
40    441
41    353
42    382
43    426
44    380
45    408
46    366
47    380
48    334
49    440
50    355
dtype: int64

In [26]:
scores_pd.describe()

科目            國文         英文          數學          地理          歷史
count  50.000000  50.000000   50.000000   50.000000   50.000000
mean   73.140000  76.240000   77.700000   75.340000   74.600000
std    14.084309  14.200546   14.585777   15.555838   16.636571
min    51.000000  50.000000   50.000000   50.000000   50.000000
25%    62.250000  63.750000   67.500000   61.250000   58.250000
50%    72.000000  78.000000   77.500000   78.500000   77.000000
75%    83.000000  88.500000   89.750000   86.750000   88.000000
max    99.000000  99.000000  100.000000  100.000000  100.000000