In [9]:
import numpy as np
import pandas as pd
#如果2個pandas資料集運算,但有不同的索引標籤
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [10]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [11]:
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [12]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)),
                  columns=list('bcd'),
                  index=['台北','台中','台南'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                  columns = list('bde'),
                  index=['高雄','台北','台中','台南'])
df1

      b    c    d
台北  0.0  1.0  2.0
台中  3.0  4.0  5.0
台南  6.0  7.0  8.0

In [13]:
df2

      b     d     e
高雄  0.0   1.0   2.0
台北  3.0   4.0   5.0
台中  6.0   7.0   8.0
台南  9.0  10.0  11.0

In [14]:
df1 + df2

       b   c     d   e
台中   9.0 NaN  12.0 NaN
台北   3.0 NaN   6.0 NaN
台南  15.0 NaN  18.0 NaN
高雄   NaN NaN   NaN NaN

In [15]:
df1.add(df2,fill_value=0)

       b    c     d     e
台中   9.0  4.0  12.0   8.0
台北   3.0  1.0   6.0   5.0
台南  15.0  7.0  18.0  11.0
高雄   0.0  NaN   1.0   2.0

In [17]:
df1 * 3

       b     c     d
台北   0.0   3.0   6.0
台中   9.0  12.0  15.0
台南  18.0  21.0  24.0

In [18]:
#sort_index()
#依索引排序
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [19]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [20]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                    index = ['three', 'one'],
                    columns=['d', 'a', 'b', 'c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [21]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [23]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [24]:
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [25]:
#sort_values()
#依值排序
obj = pd.Series([4, 7, -3, 2])
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [26]:
frame = pd.DataFrame({'b':[4, 7, -3, 2], 'a':[0, 1, 0, 1]})
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [27]:
frame.sort_values(by='b')

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [29]:
#練習建立學生成績單
import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_pd.index.name="學號"
scores_pd.columns.name="科目"
sum_values = scores_pd.sum(axis=1)
avg_values = scores_pd.mean(axis=1)
scores_pd['總分'] = sum_values
scores_pd['平均'] = avg_values
scores_pd

科目  國文   英文   數學   地理   歷史   總分    平均
學號
1   78   99   81   81   51  390  78.0
2   82   74   99   56   64  375  75.0
3   70   65   56   64   63  318  63.6
4   52   51   98   94   98  393  78.6
5   97   79   78   52   66  372  74.4
6   97   75   67   88   76  403  80.6
7   58   88   60   84   88  378  75.6
8   84   57  100   62  100  403  80.6
9   81   66   95   75   80  397  79.4
10  93   75   98   78   55  399  79.8
11  89   58   86   74   58  365  73.0
12  84   95   71   63   72  385  77.0
13  61   98   81   90   55  385  77.0
14  66   77   88  100   68  399  79.8
15  55   83   73   61   64  336  67.2
16  76   65  100   93   64  398  79.6
17  63   72   61   59   60  315  63.0
18  60   71   59   80   50  320  64.0
19  64   95   92   88   97  436  87.2
20  97   75   98   91   76  437  87.4
21  84   52   80   64   50  330  66.0
22  58   76   53   93  100  380  76.0
23  93   64   68  100   59  384  76.8
24  88   70   95   64   69  386  77.2
25  64   75   58   79   60  336  67.2
26  91   94   83   68   79  415  83.0
27  78   75   95   80   79  407  81.4
28  59  100   98   80   96  433  86.6
29  77   62   52   81   60  332  66.4
30  64   89   82   77   60  372  74.4
31  53   98   69   68   59  347  69.4
32  98   84   82   64   75  403  80.6
33  60   63   68   96   60  347  69.4
34  94   65   59   99   97  414  82.8
35  78   92   54   66   54  344  68.8
36  76   52   68   54   68  318  63.6
37  64   54   63   68   53  302  60.4
38  89   80   92   67   53  381  76.2
39  83   83   92   98   77  433  86.6
40  84   75   64   66   68  357  71.4
41  65   80   90   97   55  387  77.4
42  54   53   58   89   61  315  63.0
43  82   67   64   76   66  355  71.0
44  64   83   84  100   52  383  76.6
45  95   60   99   56   74  384  76.8
46  58   77   56   87   76  354  70.8
47  90   74   52   87   57  360  72.0
48  61   85   92   79   63  380  76.0
49  80   83   50   63   88  364  72.8
50  79   50   61   58   76  324  64.8

In [33]:
#總分由大到小的排序
scores_sorted=scores_pd.sort_values(by='總分',ascending=False)
scores_sorted

科目  國文   英文   數學   地理   歷史   總分    平均
學號
20  97   75   98   91   76  437  87.4
19  64   95   92   88   97  436  87.2
39  83   83   92   98   77  433  86.6
28  59  100   98   80   96  433  86.6
26  91   94   83   68   79  415  83.0
34  94   65   59   99   97  414  82.8
27  78   75   95   80   79  407  81.4
6   97   75   67   88   76  403  80.6
32  98   84   82   64   75  403  80.6
8   84   57  100   62  100  403  80.6
10  93   75   98   78   55  399  79.8
14  66   77   88  100   68  399  79.8
16  76   65  100   93   64  398  79.6
9   81   66   95   75   80  397  79.4
4   52   51   98   94   98  393  78.6
1   78   99   81   81   51  390  78.0
41  65   80   90   97   55  387  77.4
24  88   70   95   64   69  386  77.2
13  61   98   81   90   55  385  77.0
12  84   95   71   63   72  385  77.0
45  95   60   99   56   74  384  76.8
23  93   64   68  100   59  384  76.8
44  64   83   84  100   52  383  76.6
38  89   80   92   67   53  381  76.2
22  58   76   53   93  100  380  76.0
48  61   85   92   79   63  380  76.0
7   58   88   60   84   88  378  75.6
2   82   74   99   56   64  375  75.0
5   97   79   78   52   66  372  74.4
30  64   89   82   77   60  372  74.4
11  89   58   86   74   58  365  73.0
49  80   83   50   63   88  364  72.8
47  90   74   52   87   57  360  72.0
40  84   75   64   66   68  357  71.4
43  82   67   64   76   66  355  71.0
46  58   77   56   87   76  354  70.8
31  53   98   69   68   59  347  69.4
33  60   63   68   96   60  347  69.4
35  78   92   54   66   54  344  68.8
25  64   75   58   79   60  336  67.2
15  55   83   73   61   64  336  67.2
29  77   62   52   81   60  332  66.4
21  84   52   80   64   50  330  66.0
50  79   50   61   58   76  324  64.8
18  60   71   59   80   50  320  64.0
3   70   65   56   64   63  318  63.6
36  76   52   68   54   68  318  63.6
42  54   53   58   89   61  315  63.0
17  63   72   61   59   60  315  63.0
37  64   54   63   68   53  302  60.4

In [34]:
#取出前10名
scores_sorted[:10]

科目  國文   英文   數學  地理   歷史   總分    平均
學號
20  97   75   98  91   76  437  87.4
19  64   95   92  88   97  436  87.2
39  83   83   92  98   77  433  86.6
28  59  100   98  80   96  433  86.6
26  91   94   83  68   79  415  83.0
34  94   65   59  99   97  414  82.8
27  78   75   95  80   79  407  81.4
6   97   75   67  88   76  403  80.6
32  98   84   82  64   75  403  80.6
8   84   57  100  62  100  403  80.6

In [35]:
#取出後10名
scores_sorted[-10:]

科目  國文  英文  數學  地理  歷史   總分    平均
學號
15  55  83  73  61  64  336  67.2
29  77  62  52  81  60  332  66.4
21  84  52  80  64  50  330  66.0
50  79  50  61  58  76  324  64.8
18  60  71  59  80  50  320  64.0
3   70  65  56  64  63  318  63.6
36  76  52  68  54  68  318  63.6
42  54  53  58  89  61  315  63.0
17  63  72  61  59  60  315  63.0
37  64  54  63  68  53  302  60.4

In [48]:
scores_sorted['排名'] = scores_sorted['平均'].rank(ascending=False,method='min')
scores_sorted

科目  國文   英文   數學   地理   歷史   總分    平均    排名
學號
20  97   75   98   91   76  437  87.4   1.0
19  64   95   92   88   97  436  87.2   2.0
39  83   83   92   98   77  433  86.6   3.0
28  59  100   98   80   96  433  86.6   3.0
26  91   94   83   68   79  415  83.0   5.0
34  94   65   59   99   97  414  82.8   6.0
27  78   75   95   80   79  407  81.4   7.0
6   97   75   67   88   76  403  80.6   8.0
32  98   84   82   64   75  403  80.6   8.0
8   84   57  100   62  100  403  80.6   8.0
10  93   75   98   78   55  399  79.8  11.0
14  66   77   88  100   68  399  79.8  11.0
16  76   65  100   93   64  398  79.6  13.0
9   81   66   95   75   80  397  79.4  14.0
4   52   51   98   94   98  393  78.6  15.0
1   78   99   81   81   51  390  78.0  16.0
41  65   80   90   97   55  387  77.4  17.0
24  88   70   95   64   69  386  77.2  18.0
13  61   98   81   90   55  385  77.0  19.0
12  84   95   71   63   72  385  77.0  19.0
45  95   60   99   56   74  384  76.8  21.0
23  93   64   68  100   59  384  76.8  21.0
44  64   83   84  100   52  383  76.6  23.0
38  89   80   92   67   53  381  76.2  24.0
22  58   76   53   93  100  380  76.0  25.0
48  61   85   92   79   63  380  76.0  25.0
7   58   88   60   84   88  378  75.6  27.0
2   82   74   99   56   64  375  75.0  28.0
5   97   79   78   52   66  372  74.4  29.0
30  64   89   82   77   60  372  74.4  29.0
11  89   58   86   74   58  365  73.0  31.0
49  80   83   50   63   88  364  72.8  32.0
47  90   74   52   87   57  360  72.0  33.0
40  84   75   64   66   68  357  71.4  34.0
43  82   67   64   76   66  355  71.0  35.0
46  58   77   56   87   76  354  70.8  36.0
31  53   98   69   68   59  347  69.4  37.0
33  60   63   68   96   60  347  69.4  37.0
35  78   92   54   66   54  344  68.8  39.0
25  64   75   58   79   60  336  67.2  40.0
15  55   83   73   61   64  336  67.2  40.0
29  77   62   52   81   60  332  66.4  42.0
21  84   52   80   64   50  330  66.0  43.0
50  79   50   61   58   76  324  64.8  44.0
18  60   71   59   80   50  320  64.0  45.0
3   70   65   56   64   63  318  63.6  46.0
36  76   52   68   54   68  318  63.6  46.0
42  54   53   58   89   61  315  63.0  48.0
17  63   72   61   59   60  315  63.0  48.0
37  64   54   63   68   53  302  60.4  50.0