In [1]:
l = ['a', 'b', 'c']
for item in l:
    print(item)

a
b
c

In [6]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  1.223698  1.587291 -1.996802
台中 -0.780085 -0.078101 -1.282743
台南  0.858759 -0.399822 -0.021997
高雄 -0.084951  1.200429 -0.430696

In [11]:
def fun1(s):    
    return s

frame.apply(fun1)

           b         d         e
台北  1.223698  1.587291 -1.996802
台中 -0.780085 -0.078101 -1.282743
台南  0.858759 -0.399822 -0.021997
高雄 -0.084951  1.200429 -0.430696

In [12]:
def fun2(s):    
    return s.max()

frame.apply(fun2)

b    1.223698
d    1.587291
e   -0.021997
dtype: float64

In [13]:
def fun3(s):
    return pd.Series([s.max(), s.min()], index=['最大值','最小值'])

frame.apply(fun3)

            b         d         e
最大值  1.223698  1.587291 -0.021997
最小值 -0.780085 -0.399822 -1.996802

In [14]:
#練習建立學生成績單
import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_pd.index.name="學號"
scores_pd.columns.name="科目"
scores_pd

科目   國文   英文  數學   地理   歷史
學號
1    58   85  68   84   82
2    53   80  69   76   54
3    51   69  78   67  100
4    83   76  57   86   71
5    78   51  81   93   64
6    68   64  85   87   55
7    92   93  90   95   63
8    60  100  91   59   90
9    99   89  64   91   72
10   85   81  76   94   90
11   59   52  97   79   99
12   61   51  54   79   80
13   56   78  57  100   83
14   50   72  86   50   91
15   77   65  95   89   96
16   75   84  84   65   87
17   50   56  76   92   69
18   69   95  88   56   99
19   95   64  64   62   59
20   99   62  72   82   68
21   84   85  63   73   60
22   70   55  61   53   74
23   83   95  85   86   96
24   90   76  81   59   64
25   75   85  59   90   55
26   88   90  67   81   66
27   76   60  69   85   61
28   76   58  91   69  100
29   84   58  88   64   57
30   88   51  85   89   54
31   64   63  82   94   61
32   99   66  71   62   73
33   94   58  74   78   50
34   68   91  86   70   88
35   93   74  79   95   95
36   92   80  59   84   75
37   93   92  89   58   71
38   57   67  92   61   73
39   75   55  58   75   58
40   70  100  63   95   55
41   69   85  55   72   51
42   51   71  61   50   60
43   87   75  64   74   79
44   54   72  83   81   99
45   50   89  93   90   73
46   51   61  60   84   79
47   91   60  68   80   65
48  100   68  55   85   69
49   53   54  70   82   98
50   84   92  58   72   75

In [16]:
#使用apply(),做統計動作

def cal1(s):
    return pd.Series([s.min(),s.max(),s.median()],index=['最低分','最高分','中間值'])
scores_pd.apply(cal1)

科目      國文     英文    數學     地理     歷史
最低分   50.0   51.0  54.0   50.0   50.0
最高分  100.0  100.0  97.0  100.0  100.0
中間值   75.5   72.0  73.0   80.5   72.5