In [1]:
l = ['a', 'b', 'c']
for item in l:
    print(item)

a
b
c

In [6]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  1.223698  1.587291 -1.996802
台中 -0.780085 -0.078101 -1.282743
台南  0.858759 -0.399822 -0.021997
高雄 -0.084951  1.200429 -0.430696

In [11]:
def fun1(s):    
    return s

frame.apply(fun1)

           b         d         e
台北  1.223698  1.587291 -1.996802
台中 -0.780085 -0.078101 -1.282743
台南  0.858759 -0.399822 -0.021997
高雄 -0.084951  1.200429 -0.430696

In [12]:
def fun2(s):    
    return s.max()

frame.apply(fun2)

b    1.223698
d    1.587291
e   -0.021997
dtype: float64

In [13]:
def fun3(s):
    return pd.Series([s.max(), s.min()], index=['最大值','最小值'])

frame.apply(fun3)

            b         d         e
最大值  1.223698  1.587291 -0.021997
最小值 -0.780085 -0.399822 -1.996802