In [2]:
#一個一個讀取groupby物件內的值
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.263575 -0.246152
1    a  two  0.765991 -0.487416
2    b  one  0.328006 -0.800323
3    b  two  0.151784 -0.849373
4    a  one -0.261233  1.792409

In [3]:
grouped = df.groupby('key1')
for name, group in grouped:
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.263575 -0.246152
1    a  two  0.765991 -0.487416
4    a  one -0.261233  1.792409
b
  key1 key2     data1     data2
2    b  one  0.328006 -0.800323
3    b  two  0.151784 -0.849373

In [6]:
grouped = df.groupby(['key1', 'key2'])
for name, group in grouped:
    print(name)
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -0.263575 -0.246152
4    a  one -0.261233  1.792409
('a', 'two')
  key1 key2     data1     data2
1    a  two  0.765991 -0.487416
('b', 'one')
  key1 key2     data1     data2
2    b  one  0.328006 -0.800323
('b', 'two')
  key1 key2     data1     data2
3    b  two  0.151784 -0.849373

In [7]:
df

  key1 key2     data1     data2
0    a  one -0.263575 -0.246152
1    a  two  0.765991 -0.487416
2    b  one  0.328006 -0.800323
3    b  two  0.151784 -0.849373
4    a  one -0.261233  1.792409

In [8]:
grouped = df.groupby('key1')
grouped

In [12]:
pieces=dict(list(grouped))
pieces

{'a':   key1 key2     data1     data2
 0    a  one -0.263575 -0.246152
 1    a  two  0.765991 -0.487416
 4    a  one -0.261233  1.792409, 'b':   key1 key2     data1     data2
 2    b  one  0.328006 -0.800323
 3    b  two  0.151784 -0.849373}

In [13]:
pieces['a']

  key1 key2     data1     data2
0    a  one -0.263575 -0.246152
1    a  two  0.765991 -0.487416
4    a  one -0.261233  1.792409

In [14]:
pieces['b']

  key1 key2     data1     data2
2    b  one  0.328006 -0.800323
3    b  two  0.151784 -0.849373