In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
oneStore = pd.Series(np.random.randint(100,1000,size=(30,)))
oneStore

0     725
1     941
2     244
3     746
4     719
5     249
6     861
7     771
8     463
9     111
10    272
11    358
12    853
13    750
14    980
15    870
16    101
17    257
18    680
19    124
20    889
21    397
22    576
23    387
24    191
25    308
26    816
27    545
28    961
29    828
dtype: int64

In [4]:
nd1 = np.random.randint(100,1000,size=(30,))
oneStore = pd.Series(nd1,index=range(1,31))
oneStore

1     783
2     505
3     400
4     459
5     377
6     970
7     588
8     294
9     573
10    111
11    630
12    723
13    970
14    853
15    998
16    765
17    556
18    454
19    431
20    910
21    397
22    418
23    763
24    765
25    740
26    383
27    358
28    228
29    562
30    322
dtype: int64

In [5]:
oneStore.__class__

pandas.core.series.Series

In [6]:
oneStore.index

RangeIndex(start=1, stop=31, step=1)

In [8]:
oneStore.values

array([783, 505, 400, 459, 377, 970, 588, 294, 573, 111, 630, 723, 970,
       853, 998, 765, 556, 454, 431, 910, 397, 418, 763, 765, 740, 383,
       358, 228, 562, 322])

In [11]:
nd1 = np.random.randint(100,1000,size=(30,))
index = [f'第{i}天' for i in range(1,31)]
oneStore = pd.Series(nd1, index=index)
oneStore.index.name='天'
oneStore

天
第1天     635
第2天     835
第3天     547
第4天     297
第5天     846
第6天     561
第7天     409
第8天     511
第9天     830
第10天    279
第11天    564
第12天    748
第13天    306
第14天    863
第15天    238
第16天    401
第17天    218
第18天    836
第19天    585
第20天    306
第21天    616
第22天    607
第23天    919
第24天    324
第25天    639
第26天    204
第27天    323
第28天    668
第29天    449
第30天    158
dtype: int64

In [16]:
nd2 = np.random.randint(100,1000,size=(30,5))
columns = ['永和分店','中和分店','新店分店','信義分店','仁愛分店']
index = [f'第{i}天' for i in range(1,31)]
fiveStore = pd.DataFrame(nd2,index=index,columns=columns)
fiveStore

      永和分店  中和分店  新店分店  信義分店  仁愛分店
第1天    426   843   287   611   713
第2天    293   292   170   480   787
第3天    288   530   200   328   673
第4天    893   576   170   352   186
第5天    441   391   386   405   957
第6天    443   253   866   169   476
第7天    764   333   196   669   337
第8天    498   570   760   976   425
第9天    342   442   359   404   425
第10天   305   615   718   720   339
第11天   781   560   381   245   880
第12天   421   709   101   511   429
第13天   606   879   527   205   951
第14天   578   334   982   156   121
第15天   963   439   384   487   721
第16天   845   494   112   192   315
第17天   154   225   878   904   321
第18天   314   620   348   967   177
第19天   953   151   476   117   673
第20天   432   477   300   751   514
第21天   758   123   509   880   366
第22天   343   817   859   766   226
第23天   735   562   798   264   929
第24天   983   318   949   417   924
第25天   257   868   185   493   648
第26天   474   410   687   521   667
第27天   498   660   464   828   831
第28天   414   369   321   572   770
第29天   768   540   176   693   301
第30天   438   322   769   576   915

In [17]:
#DataFrame是由Series所組成的
fiveStore['永和分店']

第1天     426
第2天     293
第3天     288
第4天     893
第5天     441
第6天     443
第7天     764
第8天     498
第9天     342
第10天    305
第11天    781
第12天    421
第13天    606
第14天    578
第15天    963
第16天    845
第17天    154
第18天    314
第19天    953
第20天    432
第21天    758
第22天    343
第23天    735
第24天    983
第25天    257
第26天    474
第27天    498
第28天    414
第29天    768
第30天    438
Name: 永和分店, dtype: int64