In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -2.559041  1.367454
1    a  two  0.790059  0.553983
2    b  one -1.430928  0.559243
3    b  two -1.260841  0.865694
4    a  one -0.540248  1.193507

In [2]:
grouped = df.groupby('key1')
grouped

In [4]:
grouped['data1'].sum()

key1
a   -2.309230
b   -2.691769
Name: data1, dtype: float64

In [10]:
grouped['data1'].agg(['sum','mean'])

           sum      mean
key1
a    -2.309230 -0.769743
b    -2.691769 -1.345884

In [12]:
import numpy as np
import pandas as pd

tips = pd.read_csv('tips.csv')
tips

     total_bill   tip smoker   day    time  size
0         16.99  1.01     No   Sun  Dinner     2
1         10.34  1.66     No   Sun  Dinner     3
2         21.01  3.50     No   Sun  Dinner     3
3         23.68  3.31     No   Sun  Dinner     2
4         24.59  3.61     No   Sun  Dinner     4
..          ...   ...    ...   ...     ...   ...
239       29.03  5.92     No   Sat  Dinner     3
240       27.18  2.00    Yes   Sat  Dinner     2
241       22.67  2.00    Yes   Sat  Dinner     2
242       17.82  1.75     No   Sat  Dinner     2
243       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

In [13]:
tips.columns = ['總票價', '小費', '吸煙者', '日期', '時間', '大小']
tips

       總票價    小費  吸煙者    日期      時間  大小
0    16.99  1.01   No   Sun  Dinner   2
1    10.34  1.66   No   Sun  Dinner   3
2    21.01  3.50   No   Sun  Dinner   3
3    23.68  3.31   No   Sun  Dinner   2
4    24.59  3.61   No   Sun  Dinner   4
..     ...   ...  ...   ...     ...  ..
239  29.03  5.92   No   Sat  Dinner   3
240  27.18  2.00  Yes   Sat  Dinner   2
241  22.67  2.00  Yes   Sat  Dinner   2
242  17.82  1.75   No   Sat  Dinner   2
243  18.78  3.00   No  Thur  Dinner   2

[244 rows x 6 columns]

In [14]:
tips['小費比例'] = tips['小費'] / tips['總票價']
tips

       總票價    小費  吸煙者    日期      時間  大小      小費比例
0    16.99  1.01   No   Sun  Dinner   2  0.059447
1    10.34  1.66   No   Sun  Dinner   3  0.160542
2    21.01  3.50   No   Sun  Dinner   3  0.166587
3    23.68  3.31   No   Sun  Dinner   2  0.139780
4    24.59  3.61   No   Sun  Dinner   4  0.146808
..     ...   ...  ...   ...     ...  ..       ...
239  29.03  5.92   No   Sat  Dinner   3  0.203927
240  27.18  2.00  Yes   Sat  Dinner   2  0.073584
241  22.67  2.00  Yes   Sat  Dinner   2  0.088222
242  17.82  1.75   No   Sat  Dinner   2  0.098204
243  18.78  3.00   No  Thur  Dinner   2  0.159744

[244 rows x 7 columns]

In [16]:
def top(df, n=5, column='小費比例'):
    return df.sort_values(by=column)[-n:]

top(tips,n=6)

       總票價    小費  吸煙者   日期      時間  大小      小費比例
109  14.31  4.00  Yes  Sat  Dinner   2  0.279525
183  23.17  6.50  Yes  Sun  Dinner   4  0.280535
232  11.61  3.39   No  Sat  Dinner   2  0.291990
67    3.07  1.00  Yes  Sat  Dinner   1  0.325733
178   9.60  4.00  Yes  Sun  Dinner   2  0.416667
172   7.25  5.15  Yes  Sun  Dinner   2  0.710345

In [18]:
tips.groupby('吸煙者').apply(top)

           總票價    小費  吸煙者    日期      時間  大小      小費比例
吸煙者
No  88   24.71  5.85   No  Thur   Lunch   2  0.236746
    185  20.69  5.00   No   Sun  Dinner   5  0.241663
    51   10.29  2.60   No   Sun  Dinner   2  0.252672
    149   7.51  2.00   No  Thur   Lunch   2  0.266312
    232  11.61  3.39   No   Sat  Dinner   2  0.291990
Yes 109  14.31  4.00  Yes   Sat  Dinner   2  0.279525
    183  23.17  6.50  Yes   Sun  Dinner   4  0.280535
    67    3.07  1.00  Yes   Sat  Dinner   1  0.325733
    178   9.60  4.00  Yes   Sun  Dinner   2  0.416667
    172   7.25  5.15  Yes   Sun  Dinner   2  0.710345

In [19]:
tips.groupby(['吸煙者','日期']).apply(top,n=1,column='總票價')

                總票價     小費  吸煙者    日期      時間  大小      小費比例
吸煙者 日期
No  Fri  94   22.75   3.25   No   Fri  Dinner   2  0.142857
    Sat  212  48.33   9.00   No   Sat  Dinner   4  0.186220
    Sun  156  48.17   5.00   No   Sun  Dinner   6  0.103799
    Thur 142  41.19   5.00   No  Thur   Lunch   5  0.121389
Yes Fri  95   40.17   4.73  Yes   Fri  Dinner   4  0.117750
    Sat  170  50.81  10.00  Yes   Sat  Dinner   3  0.196812
    Sun  182  45.35   3.50  Yes   Sun  Dinner   3  0.077178
    Thur 197  43.11   5.00  Yes  Thur   Lunch   4  0.115982