In [2]:
import numpy as np
import pandas as pd

s1 = pd.Series([0, 1],index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])
s1

a    0
b    1
dtype: int64

In [4]:
s2

c    2
d    3
e    4
dtype: int64

In [5]:
s3

f    5
g    6
dtype: int64

In [7]:
pd.concat([s1, s2, s3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [10]:
pd.concat([s1,s2,s3],axis=1)

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [13]:
pd.concat([s1, s2, s3], keys=['one', 'two', 'three'])

one    a    0
       b    1
two    c    2
       d    3
       e    4
three  f    5
       g    6
dtype: int64

In [ ]:
import requests

url = 'http://api.openweathermap.org/data/2.5/group?id=1668341,1668399,1670481&units=metric&appid=29c4f184354b9889e87f7b494ac86aed'
response = requests.get(url)
if response.status_code == 200:
    allData = response.json()
list_data = allData['list']
list_data

In [16]:
for item in list_data:
    print(item)

{'coord': {'lon': 121.5319, 'lat': 25.0478}, 'sys': {'country': 'TW', 'timezone': 28800, 'sunrise': 1656536821, 'sunset': 1656586055}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'main': {'temp': 29.91, 'feels_like': 34.13, 'temp_min': 28.93, 'temp_max': 31.07, 'pressure': 1005, 'humidity': 67}, 'visibility': 10000, 'wind': {'speed': 6.17, 'deg': 80}, 'clouds': {'all': 75}, 'dt': 1656590960, 'id': 1668341, 'name': 'Taipei'}
{'coord': {'lon': 120.6839, 'lat': 24.1469}, 'sys': {'country': 'TW', 'timezone': 28800, 'sunrise': 1656537141, 'sunset': 1656586142}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'main': {'temp': 29.58, 'feels_like': 35.65, 'temp_min': 27.7, 'temp_max': 30.27, 'pressure': 989, 'humidity': 77}, 'visibility': 10000, 'wind': {'speed': 0.45, 'deg': 230}, 'clouds': {'all': 75}, 'dt': 1656590960, 'id': 1668399, 'name': 'Taichung'}
{'coord': {'lon': 120.4881, 'lat': 22.6714}, 'sys': {'country': 'TW', 'timezone': 28800, 'sunrise': 1656537375, 'sunset': 1656586002}, 'weather': [{'id': 501, 'main': 'Rain', 'description': 'moderate rain', 'icon': '10n'}], 'main': {'temp': 29.87, 'feels_like': 36.87, 'temp_min': 23.92, 'temp_max': 29.9, 'pressure': 1003, 'humidity': 79}, 'visibility': 10000, 'wind': {'speed': 5.14, 'deg': 260}, 'clouds': {'all': 75}, 'dt': 1656591009, 'id': 1670481, 'name': 'Pingtung City'}