In [1]:
import pandas as pd
obj=pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
numpy1=obj.values

In [6]:
print(numpy1.sum())
print(numpy1.mean())

9
2.25

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
#自訂索引
#obj2 = pd.Series([4, 7, -5, 3],index=["d", "b", "a", "c"])
obj2 = pd.Series(index=["d", "b", "a", "c"],data=[4, 7, -5, 3])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [13]:
print(obj2['d'])
print(obj2['b'])
print(obj2['a'])
print(obj2['c'])

4
7
-5
3

In [16]:
obj2['d'] = 6
obj2['d']
#取出一個Series
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [17]:
obj2 = pd.Series([80, 90, 75, 65], index=['chinese', 'english', 'math', 'history'])
obj2

chinese    80
english    90
math       75
history    65
dtype: int64

In [18]:
#取出numpy
array2 = obj2.values
array2 * 2

array([160, 180, 150, 130])

In [19]:
obj2 * 2

chinese    160
english    180
math       150
history    130
dtype: int64

In [25]:
#numpy 過濾
boolValue = (array2 >= 80)
array2[boolValue]
array2[array2 >= 80]

array([80, 90])

In [26]:
obj2[obj2>=80]

chinese    80
english    90
dtype: int64

In [27]:
import numpy as np
#執行numpy package內的function sum()
np.sum(obj2)

310

In [28]:
#執行series實體內的method sum()
obj2.sum()

310