In [1]:
import numpy as np
import pandas as pd

!cat ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [2]:
pd.read_csv('ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [3]:
pd.read_csv('ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [4]:
pd.read_csv('ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo