In [3]:
import pandas as pd
import numpy as np

obj=pd.Series([4.5, 7.2, -5.3, 3.6],index=['d', 'b', 'a', 'c'])
print(obj.__class__)

<class 'pandas.core.series.Series'>

In [4]:
obj.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [5]:
obj.array

<PandasArray>
[4.5, 7.2, -5.3, 3.6]
Length: 4, dtype: float64

In [6]:
obj.values

array([ 4.5,  7.2, -5.3,  3.6])

In [7]:
obj.shape

(4,)

In [8]:
obj.ndim

1

In [9]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [10]:
#使用reindex()
obj2 = obj.reindex(index=['a', 'b', 'c', 'd'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [11]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [13]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [14]:
obj3.reindex(range(6),method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [16]:
obj4 = obj3.reindex([2,4])
obj4

2    purple
4    yellow
dtype: object

In [22]:
#使用numpy 建立DataFrame
import numpy as np
np1=np.array([[1, 2, 3],[4, 5, 6]])
frame = pd.DataFrame(np1,
                     index=[5,6],
                     columns=['台北', '台中', '高雄']
                    )
frame

   台北  台中  高雄
5   1   2   3
6   4   5   6

In [27]:
np2=np.arange(9)
print(np2)
print(np2.shape)
print(np2.__class__)

[0 1 2 3 4 5 6 7 8]
(9,)
<class 'numpy.ndarray'>

In [28]:
np3=np2.reshape(3,3)
np3

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [31]:
np2 = np.arange(9)
np3 = np2.reshape(3,3)
np3

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [34]:
np3 = np.arange(9).reshape(3,3)
np3

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [35]:
frame = pd.DataFrame(data=np.arange(9).reshape(3,3),
                     index = ['a', 'c', 'd'],
                     columns = ['台北', '台中', '高雄']
                    )
frame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [38]:
frame.reindex(index=['a', 'c'],columns=['台北', '台中'])

   台北  台中
a   0   1
c   3   4

In [39]:
#Series,drop()
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [40]:
obj.drop('c')

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [41]:
obj.drop(['a', 'c'])

b    1.0
d    3.0
e    4.0
dtype: float64