In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.193155 -2.006826
1    a  two  2.097353  0.378351
2    b  one  0.570364  0.257933
3    b  two  0.822596  0.168783
4    a  one -0.278369  1.494161

In [4]:
df[['data1','data2']].sum(axis=1)

0   -1.813671
1    2.475704
2    0.828297
3    0.991379
4    1.215792
dtype: float64

In [5]:
df[['data1','data2']].sum(axis=0)

data1    3.405100
data2    0.292401
dtype: float64

In [6]:
df['data1']

0    0.193155
1    2.097353
2    0.570364
3    0.822596
4   -0.278369
Name: data1, dtype: float64

In [7]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [8]:
grouped.sum()

key1
a    2.012139
b    1.392961
Name: data1, dtype: float64

In [9]:
grouped.mean()

key1
a    0.670713
b    0.696480
Name: data1, dtype: float64

In [10]:
grouped1=df['data1'].groupby([df['key1'],df['key2']])
grouped1

In [12]:
means = grouped1.sum()

In [13]:
means

key1  key2
a     one    -0.085214
      two     2.097353
b     one     0.570364
      two     0.822596
Name: data1, dtype: float64

In [14]:
means.unstack()

key2       one       two
key1
a    -0.085214  2.097353
b     0.570364  0.822596