In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.297072 -0.460465
1    a  two  0.246888 -0.770227
2    b  one -1.598242  0.643928
3    b  two  1.068190  0.865138
4    a  one  1.137645  0.164274

In [2]:
df.groupby('key1')['data1'].mean()

key1
a    0.362487
b   -0.265026
Name: data1, dtype: float64

In [3]:
df['data1'].groupby(df['key1']).mean()

key1
a    0.362487
b   -0.265026
Name: data1, dtype: float64

In [4]:
df.groupby('key1')[['data1','data2']].mean()

         data1     data2
key1
a     0.362487 -0.355473
b    -0.265026  0.754533