In [4]:
import pandas as pd
pop = {'台北':{2000:0.8, 2001:2.4, 2002:2.9},'高雄':{2000:1.5, 2001:1.7, 2002:3.6}}
frame1=pd.DataFrame(pop)
frame1

       台北   高雄
2000  0.8  1.5
2001  2.4  1.7
2002  2.9  3.6

In [5]:
frame1.T

    2000  2001  2002
台北   0.8   2.4   2.9
高雄   1.5   1.7   3.6