In [4]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
         index = [['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                  [1, 2, 3, 1, 2, 3, 1, 2, 3]
                 ]
         )
data

a  1    0.637434
   2   -0.739481
   3    1.588287
b  1    1.915549
   2    1.085879
c  3   -0.746070
   1    0.679337
d  2    0.729539
   3    1.931621
dtype: float64

In [6]:
data['a']

1    0.637434
2   -0.739481
3    1.588287
dtype: float64

In [7]:
data[['a','c']]

a  1    0.637434
   2   -0.739481
   3    1.588287
c  3   -0.746070
   1    0.679337
dtype: float64

In [11]:
newData = data.unstack()
newData

          1         2         3
a  0.637434 -0.739481  1.588287
b  1.915549  1.085879       NaN
c  0.679337       NaN -0.746070
d       NaN  0.729539  1.931621

In [13]:
newData.stack()

a  1    0.637434
   2   -0.739481
   3    1.588287
b  1    1.915549
   2    1.085879
c  1    0.679337
   3   -0.746070
d  2    0.729539
   3    1.931621
dtype: float64