In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.650722  0.672534
1    a  two -1.118865  1.049975
2    b  one  1.043903  0.725616
3    b  two  1.309329  0.054261
4    a  one -0.405228 -1.731377

In [5]:
#serialGroupby物件
grouped1 = df['data1'].groupby(['台北','台北','台北','台中','台中'])
grouped1.mean()

台中    0.452051
台北    0.191920
Name: data1, dtype: float64

In [7]:
df['data1'].groupby(df['key1']).sum()

key1
a   -0.873371
b    2.353232
Name: data1, dtype: float64

In [9]:
df['data1'].groupby(df['key2']).sum()

key2
one    1.289397
two    0.190464
Name: data1, dtype: float64

In [13]:
s1 = df['data1'].groupby([df['key1'],df['key2']]).sum()

In [14]:
s1.unstack()

key2       one       two
key1
a     0.245494 -1.118865
b     1.043903  1.309329