In [3]:
#openWeatherMap api
#Taipei:1668341
#Taichung:1668399
#Pingtung:16704818

import requests

url = 'http://api.openweathermap.org/data/2.5/group?id=1668341,1668399,1670481&units=metric&appid=29c4f184354b9889e87f7b494ac86aed'
response = requests.get(url)
weatherData=response.json()
weatherData
lon = []
lat = []
temp = []
humidity = []
name = []
for item in weatherData['list']:
    lon.append(item['coord']['lon'])
    lat.append(item['coord']['lat'])
    temp.append(item['main']['temp'])
    humidity.append(item['main']['humidity'])
    name.append(item['name'])
     

weatherDict = {}
weatherDict['城市'] = name
weatherDict['攝氏'] = temp
weatherDict['溼度'] = humidity
weatherDict['緯度'] = lon
weatherDict['經度'] = lat
weatherDict

{'城市': ['Taipei', 'Taichung', 'Pingtung City'],
 '攝氏': [25.45, 26.25, 26.43],
 '溼度': [60, 67, 67],
 '緯度': [121.5319, 120.6839, 120.4881],
 '經度': [25.0478, 24.1469, 22.6714]}

In [4]:
import numpy as np
import pandas as pd
weatherDataFrame = pd.DataFrame(weatherDict)
weatherDataFrame

              城市     攝氏  溼度        緯度       經度
0         Taipei  25.45  60  121.5319  25.0478
1       Taichung  26.25  67  120.6839  24.1469
2  Pingtung City  26.43  67  120.4881  22.6714

In [5]:
part1 = pd.DataFrame(weatherDict,columns=['攝氏','溼度'],index=weatherDict['城市'])
part1

                  攝氏  溼度
Taipei         25.45  60
Taichung       26.25  67
Pingtung City  26.43  67

In [6]:
part2 = pd.DataFrame(weatherDict,columns=['緯度','經度'],index=weatherDict['城市'])
part2

                     緯度       經度
Taipei         121.5319  25.0478
Taichung       120.6839  24.1469
Pingtung City  120.4881  22.6714

In [9]:
#pd.concat()
all=pd.concat([part1, part2],axis=1)
all

                  攝氏  溼度        緯度       經度
Taipei         25.45  60  121.5319  25.0478
Taichung       26.25  67  120.6839  24.1469
Pingtung City  26.43  67  120.4881  22.6714

In [10]:
pd.concat([all,all])

                  攝氏  溼度        緯度       經度
Taipei         25.45  60  121.5319  25.0478
Taichung       26.25  67  120.6839  24.1469
Pingtung City  26.43  67  120.4881  22.6714
Taipei         25.45  60  121.5319  25.0478
Taichung       26.25  67  120.6839  24.1469
Pingtung City  26.43  67  120.4881  22.6714