In [4]:
import numpy as np
import pandas as pd
result=pd.read_csv('ex6.csv')
result.index.name="編號"
result1=result.reset_index().set_index(['key','編號'])

In [5]:
result1

               one       two     three      four
key 編號
L   0     0.467976 -0.038649 -0.295344 -1.824726
B   1    -0.358893  1.404453  0.704965 -0.200638
G   2    -0.501840  0.659254 -0.421691 -0.057688
R   3     0.204886  1.074134  1.388361 -0.982404
Q   4     0.354628 -0.133116  0.283763 -0.837063
...            ...       ...       ...       ...
L   9995  2.311896 -0.417070 -1.409599 -0.515821
E   9996 -0.479893 -0.650419  0.745152 -0.646038
K   9997  0.523331  0.787112  0.486066  1.093156
G   9998 -0.362559  0.598894 -1.843201  0.887292
0   9999 -0.096376 -1.012999 -0.657431 -0.573315

[10000 rows x 4 columns]

In [10]:
result2=result1.groupby(level='key').sum()
result2

           one        two      three       four
key
0     1.665408  17.743480   9.481654   6.247520
1    11.425734   4.112933   2.267208  -5.073376
2   -12.027358   8.554219   8.282886  11.080997
3    42.100302 -14.326627  17.516102  27.969500
4     3.369031  -3.566079 -11.919283  19.450522
5   -21.339628  -0.830787  19.475274   6.768049
6    23.546088   2.108177 -19.318213  -0.770386
7    13.590415 -12.158019  -8.565629  -8.948078
8    -0.013861   5.495076   7.570927  -6.411784
9     9.765136   5.011665  -5.758177  -0.667350
A    38.897269   2.628269  -5.545845   4.287813
B    15.440654  21.915728   0.145093  -6.301660
C     7.088463  -4.078655 -10.235959 -21.130100
D     2.301488   4.553514 -17.837087  14.333665
E     7.847879   4.878314  10.793150  -4.599326
F    26.900181 -16.744884 -31.690110 -13.869248
G   -17.480410  29.909078 -24.145209   1.853102
H    -7.082552  -9.984948  -8.689870  16.544615
I     8.148561  20.985749 -35.272315  -4.068601
J    16.241878   2.715519 -10.736693 -16.545773
K    51.695215  -2.326893 -10.862724   4.828478
L    17.545360 -17.319594 -25.674226  -5.996758
M     1.186659  12.696053 -33.150379   6.013117
N    14.999531 -21.552070  -7.831130  22.890960
O   -10.002795 -36.581729 -11.047844  11.520907
P     9.425316 -17.434001 -36.448585  23.215831
Q   -13.331859   1.685890   1.853302  26.757406
R    38.933116   8.454604   9.865724  -1.332338
S    23.171948   7.218775   3.523039  -2.597292
T    48.116511  -8.118245 -25.069463  -1.678465
U    16.968534   0.032534  27.528819   5.374716
V    -3.523774   5.148307  -3.896218  -4.798073
W    49.312915   6.591499 -11.731044   9.059482
X    27.783672   5.066255 -37.755315  20.484523
Y    16.990201  -8.195686  -0.605551  18.225111
Z    -2.153618   4.421509  10.848940   7.736300

In [9]:
result2.shape

(36, 4)

In [12]:
result2.sum(axis=1)

key
0    35.138061
1    12.732499
2    15.890744
3    73.259277
4     7.334191
5     4.072908
6     5.565666
7   -16.081311
8     6.640358
9     8.351273
A    40.267506
B    31.199815
C   -28.356251
D     3.351579
E    18.920017
F   -35.404061
G    -9.863440
H    -9.212755
I   -10.206607
J    -8.325068
K    43.334076
L   -31.445218
M   -13.254550
N     8.507290
O   -46.111462
P   -21.241439
Q    16.964739
R    55.921105
S    31.316470
T    13.250338
U    49.904603
V    -7.069759
W    53.232853
X    15.579135
Y    26.414076
Z    20.853131
dtype: float64