In [2]:
import pandas as pd 
import requests
url = 'http://api.openweathermap.org/data/2.5/group?id=1668341,1668399,1670481&units=metric&appid=29c4f184354b9889e87f7b494ac86aed'
response = requests.get(url)
weatherData = response.json()
weatherData

{'cnt': 3,
 'list': [{'coord': {'lon': 121.5319, 'lat': 25.0478},
   'sys': {'country': 'TW',
    'timezone': 28800,
    'sunrise': 1637532933,
    'sunset': 1637571881},
   'weather': [{'id': 300,
     'main': 'Drizzle',
     'description': 'light intensity drizzle',
     'icon': '09n'}],
   'main': {'temp': 15.89,
    'feels_like': 15.78,
    'temp_min': 15.26,
    'temp_max': 16.07,
    'pressure': 1022,
    'humidity': 86},
   'visibility': 10000,
   'wind': {'speed': 4.02, 'deg': 90},
   'clouds': {'all': 75},
   'dt': 1637586550,
   'id': 1668341,
   'name': 'Taipei'},
  {'coord': {'lon': 120.6839, 'lat': 24.1469},
   'sys': {'country': 'TW',
    'timezone': 28800,
    'sunrise': 1637533041,
    'sunset': 1637572180},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'main': {'temp': 19.2,
    'feels_like': 18.98,
    'temp_min': 16.69,
    'temp_max': 20.82,
    'pressure': 1001,
    'humidity': 69},
   'visibility': 10000,
   'wind': {'speed': 3.58, 'deg': 20},
   'clouds': {'all': 75},
   'dt': 1637586550,
   'id': 1668399,
   'name': 'Taichung'},
  {'coord': {'lon': 120.4881, 'lat': 22.6714},
   'sys': {'country': 'TW',
    'timezone': 28800,
    'sunrise': 1637532935,
    'sunset': 1637572380},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'main': {'temp': 20.43,
    'feels_like': 20.38,
    'temp_min': 17.71,
    'temp_max': 20.85,
    'pressure': 1015,
    'humidity': 71},
   'visibility': 10000,
   'wind': {'speed': 3.6, 'deg': 350},
   'clouds': {'all': 75},
   'dt': 1637586602,
   'id': 1670481,
   'name': 'Pingtung City'}]}

In [5]:
weatherDict = {}
lon = []
lat = []
temp = []
humidity = []
name = []
sunrise = []
for item in weatherData['list']:
    lon.append(item['coord']['lon'])
    lat.append(item['coord']['lat'])
    temp.append(item['main']['temp'])
    humidity.append(item['main']['humidity'])
    name.append(item['name'])
    sunrise.append(item['sys']['sunrise'])
    
weatherDict['城市'] = name
weatherDict['緯度'] = lat
weatherDict['經度'] = lon
weatherDict['攝氏'] = temp
weatherDict['溼度'] = humidity
weatherDict['時間'] = sunrise
weatherDict

{'城市': ['Taipei', 'Taichung', 'Pingtung City'],
 '緯度': [25.0478, 24.1469, 22.6714],
 '經度': [121.5319, 120.6839, 120.4881],
 '攝氏': [15.89, 19.2, 20.43],
 '溼度': [86, 69, 71],
 '時間': [1637532933, 1637533041, 1637532935]}

In [8]:
weatherDataFrame1 = pd.DataFrame(weatherDict)
weatherDataFrame1

              城市       緯度        經度     攝氏  溼度          時間
0         Taipei  25.0478  121.5319  15.89  86  1637532933
1       Taichung  24.1469  120.6839  19.20  69  1637533041
2  Pingtung City  22.6714  120.4881  20.43  71  1637532935

In [13]:
weatherDict = {}
lon = []
lat = []
temp = []
humidity = []
name = []
sunrise = []
for item in weatherData['list']:
    lon.append(item['coord']['lon'])
    lat.append(item['coord']['lat'])
    temp.append(item['main']['temp'])
    humidity.append(item['main']['humidity'])
    name.append(item['name'])
    sunrise.append(item['sys']['sunrise']+12345)
    
weatherDict['城市'] = name
weatherDict['緯度'] = lat
weatherDict['經度'] = lon
weatherDict['攝氏'] = temp
weatherDict['溼度'] = humidity
weatherDict['時間'] = sunrise
weatherDict

{'城市': ['Taipei', 'Taichung', 'Pingtung City'],
 '緯度': [25.0478, 24.1469, 22.6714],
 '經度': [121.5319, 120.6839, 120.4881],
 '攝氏': [15.89, 19.2, 20.43],
 '溼度': [86, 69, 71],
 '時間': [1637545278, 1637545386, 1637545280]}

In [14]:
weatherDataFrame2 = pd.DataFrame(weatherDict)
weatherDataFrame2

              城市       緯度        經度     攝氏  溼度          時間
0         Taipei  25.0478  121.5319  15.89  86  1637545278
1       Taichung  24.1469  120.6839  19.20  69  1637545386
2  Pingtung City  22.6714  120.4881  20.43  71  1637545280

In [16]:
resultWeather=pd.concat([weatherDataFrame1,weatherDataFrame2])
resultWeather

              城市       緯度        經度     攝氏  溼度          時間
0         Taipei  25.0478  121.5319  15.89  86  1637532933
1       Taichung  24.1469  120.6839  19.20  69  1637533041
2  Pingtung City  22.6714  120.4881  20.43  71  1637532935
0         Taipei  25.0478  121.5319  15.89  86  1637545278
1       Taichung  24.1469  120.6839  19.20  69  1637545386
2  Pingtung City  22.6714  120.4881  20.43  71  1637545280