In [2]:
#homework2
#使用pd.concat()

#openWeatherMap api
#Taipei:1668341
#Taichung:1668399
#Pingtung:16704818
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import requests
url = 'http://api.openweathermap.org/data/2.5/group?id=1668341,1668399,1670481&units=metric&appid=29c4f184354b9889e87f7b494ac86aed'
resp = requests.get(url)
resp
weatherData = resp.json()
weatherDict = {}
lon = []
lat = []
temp = []
humidity = []
name = []
for item in weatherData['list']:
    lon.append(item['coord']['lon'])
    lat.append(item['coord']['lat'])
    temp.append(item['main']['temp'])
    humidity.append(item['main']['humidity'])
    name.append(item['name'])

weatherDict['城市'] = name
weatherDict['緯度'] = lat
weatherDict['經度'] = lon
weatherDict['攝氏'] = temp
weatherDict['溼度'] = humidity
weatherDict
weatherDataFrame1 = pd.DataFrame(weatherDict,columns=['攝氏', '溼度'],index=weatherDict['城市'])
weatherDataFrame1

             緯度      經度
Taipei    25.05  121.53
Taichung  24.15  120.68
Pingtung  22.67  120.49

In [4]:
weatherDataFrame2 = pd.DataFrame(weatherDict,columns=['緯度', '經度'], index=weatherDict['城市'])
weatherDataFrame2

             緯度      經度
Taipei    25.05  121.53
Taichung  24.15  120.68
Pingtung  22.67  120.49

In [5]:
pd.concat([weatherDataFrame1, weatherDataFrame2],axis=1)

             攝氏  溼度     緯度      經度
Taipei    15.79  82  25.05  121.53
Taichung  16.50  93  24.15  120.68
Pingtung  21.32  57  22.67  120.49