In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
oneStore = pd.Series(np.random.randint(100,1000,size=(30,)))
oneStore

0     725
1     941
2     244
3     746
4     719
5     249
6     861
7     771
8     463
9     111
10    272
11    358
12    853
13    750
14    980
15    870
16    101
17    257
18    680
19    124
20    889
21    397
22    576
23    387
24    191
25    308
26    816
27    545
28    961
29    828
dtype: int64

In [4]:
nd1 = np.random.randint(100,1000,size=(30,))
oneStore = pd.Series(nd1,index=range(1,31))
oneStore

1     783
2     505
3     400
4     459
5     377
6     970
7     588
8     294
9     573
10    111
11    630
12    723
13    970
14    853
15    998
16    765
17    556
18    454
19    431
20    910
21    397
22    418
23    763
24    765
25    740
26    383
27    358
28    228
29    562
30    322
dtype: int64

In [5]:
oneStore.__class__

pandas.core.series.Series

In [6]:
oneStore.index

RangeIndex(start=1, stop=31, step=1)

In [8]:
oneStore.values

array([783, 505, 400, 459, 377, 970, 588, 294, 573, 111, 630, 723, 970,
       853, 998, 765, 556, 454, 431, 910, 397, 418, 763, 765, 740, 383,
       358, 228, 562, 322])

In [11]:
nd1 = np.random.randint(100,1000,size=(30,))
index = [f'第{i}天' for i in range(1,31)]
oneStore = pd.Series(nd1, index=index)
oneStore.index.name='天'
oneStore

天
第1天     635
第2天     835
第3天     547
第4天     297
第5天     846
第6天     561
第7天     409
第8天     511
第9天     830
第10天    279
第11天    564
第12天    748
第13天    306
第14天    863
第15天    238
第16天    401
第17天    218
第18天    836
第19天    585
第20天    306
第21天    616
第22天    607
第23天    919
第24天    324
第25天    639
第26天    204
第27天    323
第28天    668
第29天    449
第30天    158
dtype: int64