In [1]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=['b','c','d'],
                     index = ['台北','台中','台南','高雄']
                    )
frame

           b         c         d
台北 -0.055802 -0.075731  0.728996
台中 -0.327568  0.273752  0.447825
台南 -0.026960 -0.850756 -0.291614
高雄 -0.039507 -0.046323  0.277712

In [2]:
np.abs(frame)

           b         c         d
台北  0.055802  0.075731  0.728996
台中  0.327568  0.273752  0.447825
台南  0.026960  0.850756  0.291614
高雄  0.039507  0.046323  0.277712

In [5]:
def myFunc(s):
    return s.max() - s.min()

frame.apply(myFunc)

b    0.300608
c    1.124509
d    1.020610
dtype: float64

In [6]:
scores = np.random.randint(50,101,size=(50, 5))
scores_df = pd.DataFrame(scores,
                        columns=['國文', '英文', '數學', '地理', '歷史'],
                         index=range(1,51)
                        )
scores_df

     國文  英文   數學  地理   歷史
1    93  66   74  57   55
2    58  52   56  93   66
3    83  68   89  82   98
4    69  93   84  77  100
5    85  74   77  71   54
6    80  55   73  84   98
7    79  53   74  93   56
8    53  73   69  69   59
9    95  74   73  62   50
10   91  51   51  54   69
11   50  80   85  70   62
12   96  76   70  89   53
13   75  97   71  60   76
14   67  75   85  97   87
15  100  77   88  50   98
16   77  92   88  79   74
17   69  92   69  52   93
18   95  73   55  87   84
19   95  95   54  64   84
20   99  77   83  90   87
21   70  91   65  81   56
22   59  78  100  64   88
23   90  83   82  83   79
24   90  80   95  96   72
25   72  78   86  51   89
26   65  71   99  84  100
27   72  71   57  60   60
28   69  99   68  99   95
29   91  79   65  89   64
30   82  89   67  80   87
31   68  75   76  80   55
32   55  50   53  76   84
33   98  76   75  98   97
34   75  72   87  50   82
35   95  85   95  87   74
36   85  98   52  99   79
37   57  70   92  66   52
38   65  96   54  87   63
39   69  73   89  56   61
40   65  82   71  98   54
41   82  84   92  91   54
42   88  77   67  78   57
43  100  74   67  84   91
44   79  53  100  84   98
45   93  83   89  78   84
46   77  86   56  69   87
47   87  93   94  68   65
48   68  91   93  99   64
49   84  59   91  60   88
50   97  55   56  96   67

In [8]:
def myFunc(s):
    return pd.Series([s.max(),s.min(),s.mean()], index=['最高分','最低分','平均分'])

scores_df.apply(myFunc)

         國文     英文      數學     地理      歷史
最高分  100.00  99.00  100.00  99.00  100.00
最低分   50.00  50.00   51.00  50.00   50.00
平均分   79.12  76.88   76.02  77.42   74.98