In [1]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=['b','c','d'],
                     index = ['台北','台中','台南','高雄']
                    )
frame

           b         c         d
台北 -0.055802 -0.075731  0.728996
台中 -0.327568  0.273752  0.447825
台南 -0.026960 -0.850756 -0.291614
高雄 -0.039507 -0.046323  0.277712

In [2]:
np.abs(frame)

           b         c         d
台北  0.055802  0.075731  0.728996
台中  0.327568  0.273752  0.447825
台南  0.026960  0.850756  0.291614
高雄  0.039507  0.046323  0.277712

In [5]:
def myFunc(s):
    return s.max() - s.min()

frame.apply(myFunc)

b    0.300608
c    1.124509
d    1.020610
dtype: float64