In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.105729 -1.619310
1    a  two -0.908416  2.702192
2    b  one -0.335924 -0.887682
3    b  two -0.401883 -0.877496
4    a  one  0.621518  0.002247