In [1]:
import pandas as pd
import numpy as np

obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [2]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [4]:
frame = pd.DataFrame(np.arange(8).reshape(2, 4),
                     index = ['three', 'one'],
                     columns = ['d', 'a', 'b', 'c']
                    )
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [8]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [9]:
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [13]:
frame.sort_values(by='a',ascending=False)

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [35]:
scores = np.random.randint(50,101,size=(50, 5))
scores_df = pd.DataFrame(scores,
                        columns=['國文', '英文', '數學', '地理', '歷史'],
                         index=range(1,51)
                        )
sum_values=scores_df.sum(axis=1)
mean_values = scores_df.mean(axis=1)
rank_values = sum_values.rank(method='min',ascending=False)
scores_df['總分'] = sum_values
scores_df['平均'] = mean_values
scores_df['排名'] = rank_values
scores_df

     國文   英文   數學   地理   歷史   總分    平均    排名
1    87   95   85   50  100  417  83.4   7.0
2    87   67   57   78   93  382  76.4  20.0
3    93   50   80   55   58  336  67.2  43.0
4    91   77   77   81  100  426  85.2   5.0
5    71   94   82   82   61  390  78.0  13.0
6    76   72   75   56   80  359  71.8  32.0
7    99   98   51   52   63  363  72.6  28.0
8    66   92   58   60   76  352  70.4  37.0
9    54   56  100   57   89  356  71.2  33.0
10   85   88   97   97   86  453  90.6   1.0
11   99   78   78   96   94  445  89.0   2.0
12   78   59   58   59   90  344  68.8  39.0
13   58   58   88   52   77  333  66.6  44.0
14   84   92   70   70   64  380  76.0  21.0
15   69   79   75   96   64  383  76.6  18.0
16   79   61   51   84   85  360  72.0  31.0
17  100   75   73   55   75  378  75.6  23.0
18   95   51   96   86   71  399  79.8   8.0
19   61   58   58   60   83  320  64.0  49.0
20   70   91   89   87   83  420  84.0   6.0
21  100   74   67   96   57  394  78.8  11.0
22   63   77   97   54   85  376  75.2  24.0
23   79   73   67   55   89  363  72.6  28.0
24   85   81   78   56   69  369  73.8  26.0
25   59   50   62   90   68  329  65.8  46.0
26   83   62   54   76   79  354  70.8  35.0
27   86   86   67   61   63  363  72.6  28.0
28   95   75   51   96   70  387  77.4  14.0
29   89   99   83   97   64  432  86.4   4.0
30   74   62   92   75   81  384  76.8  16.0
31   50   61   69   76   51  307  61.4  50.0
32   79   51   57   74   83  344  68.8  39.0
33   83   86   97   91   84  441  88.2   3.0
34   61   85   57   94   82  379  75.8  22.0
35   89   54   69   95   88  395  79.0   9.0
36   83   71  100   75   65  394  78.8  11.0
37   82   74   53   69   96  374  74.8  25.0
38   50   84   56   85   50  325  65.0  48.0
39   86   89   50   74   56  355  71.0  34.0
40   87   77   59  100   60  383  76.6  18.0
41   56   57   94   98   61  366  73.2  27.0
42   85   76   51   82   50  344  68.8  39.0
43   66   85   61   54   62  328  65.6  47.0
44   66   60   69   81   54  330  66.0  45.0
45   54   58   99   72   64  347  69.4  38.0
46   94   88   85   66   54  387  77.4  14.0
47   70   66   50   99   68  353  70.6  36.0
48   95   97   72   63   57  384  76.8  16.0
49   55   76   72   77   57  337  67.4  42.0
50   52  100   96   81   66  395  79.0   9.0

In [37]:
scores_df = scores_df.sort_values(by='排名')

In [39]:
scores_df.head(5)

    國文  英文  數學  地理   歷史   總分    平均   排名
10  85  88  97  97   86  453  90.6  1.0
11  99  78  78  96   94  445  89.0  2.0
33  83  86  97  91   84  441  88.2  3.0
29  89  99  83  97   64  432  86.4  4.0
4   91  77  77  81  100  426  85.2  5.0

In [52]:
first_df=scores_df.iloc[:5]

In [43]:
scores_df.iloc[-5:]

    國文  英文  數學  地理  歷史   總分    平均    排名
25  59  50  62  90  68  329  65.8  46.0
43  66  85  61  54  62  328  65.6  47.0
38  50  84  56  85  50  325  65.0  48.0
19  61  58  58  60  83  320  64.0  49.0
31  50  61  69  76  51  307  61.4  50.0

In [44]:
scores_df.tail(5)

    國文  英文  數學  地理  歷史   總分    平均    排名
25  59  50  62  90  68  329  65.8  46.0
43  66  85  61  54  62  328  65.6  47.0
38  50  84  56  85  50  325  65.0  48.0
19  61  58  58  60  83  320  64.0  49.0
31  50  61  69  76  51  307  61.4  50.0

In [47]:
scores_df[scores_df['國文']<60]

    國文   英文   數學  地理  歷史   總分    平均    排名
50  52  100   96  81  66  395  79.0   9.0
41  56   57   94  98  61  366  73.2  27.0
9   54   56  100  57  89  356  71.2  33.0
45  54   58   99  72  64  347  69.4  38.0
49  55   76   72  77  57  337  67.4  42.0
13  58   58   88  52  77  333  66.6  44.0
25  59   50   62  90  68  329  65.8  46.0
38  50   84   56  85  50  325  65.0  48.0
31  50   61   69  76  51  307  61.4  50.0

In [50]:
scores_df.query('國文<60')

    國文   英文   數學  地理  歷史   總分    平均    排名
50  52  100   96  81  66  395  79.0   9.0
41  56   57   94  98  61  366  73.2  27.0
9   54   56  100  57  89  356  71.2  33.0
45  54   58   99  72  64  347  69.4  38.0
49  55   76   72  77  57  337  67.4  42.0
13  58   58   88  52  77  333  66.6  44.0
25  59   50   62  90  68  329  65.8  46.0
38  50   84   56  85  50  325  65.0  48.0
31  50   61   69  76  51  307  61.4  50.0

In [56]:
def f1(s):
    print(s)
    return s

first_df.apply(f1,axis=1)

國文     85.0
英文     88.0
數學     97.0
地理     97.0
歷史     86.0
總分    453.0
平均     90.6
排名      1.0
Name: 10, dtype: float64
國文     99.0
英文     78.0
數學     78.0
地理     96.0
歷史     94.0
總分    445.0
平均     89.0
排名      2.0
Name: 11, dtype: float64
國文     83.0
英文     86.0
數學     97.0
地理     91.0
歷史     84.0
總分    441.0
平均     88.2
排名      3.0
Name: 33, dtype: float64
國文     89.0
英文     99.0
數學     83.0
地理     97.0
歷史     64.0
總分    432.0
平均     86.4
排名      4.0
Name: 29, dtype: float64
國文     91.0
英文     77.0
數學     77.0
地理     81.0
歷史    100.0
總分    426.0
平均     85.2
排名      5.0
Name: 4, dtype: float64

      國文    英文    數學    地理     歷史     總分    平均   排名
10  85.0  88.0  97.0  97.0   86.0  453.0  90.6  1.0
11  99.0  78.0  78.0  96.0   94.0  445.0  89.0  2.0
33  83.0  86.0  97.0  91.0   84.0  441.0  88.2  3.0
29  89.0  99.0  83.0  97.0   64.0  432.0  86.4  4.0
4   91.0  77.0  77.0  81.0  100.0  426.0  85.2  5.0