## 格式化值,index,column
- 必需install jinja2
- format()
- format_index()

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
display(df)
s = df.style\
.format(precision=3, thousands=",", decimal=".")\
.format_index(str.upper, axis=1)\
.relabel_index(["row 1", "row 2"], axis=0)
print(type(s))
s

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230

<class 'pandas.io.formats.style.Styler'>

In [13]:
#綜合操作
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo", "Taipei"])

display(weather_df)

               Tokyo    Taipei
2021-01-01  3.290160  2.068830
2021-01-02  4.874817  2.550072
2021-01-03  0.589464  3.094682
2021-01-04  0.383013  0.174167
2021-01-05  3.247148  0.855827
2021-01-06  1.665995  2.759323
2021-01-07  3.269721  2.699223
2021-01-08  1.356074  3.741200
2021-01-09  2.512503  2.264490
2021-01-10  3.426767  1.787057

In [12]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo", "Taipei"])

def rain_condition(v):
    if v < 1.75:
        return "Dry"
    elif v < 2.75:
        return "Rain"
    return "Heavy Rain"

def make_pretty(styler):
    styler.set_caption("Weather Conditions")
    styler.format(rain_condition)
    styler.format_index(lambda v: v.strftime("%A"))
    styler.background_gradient(axis=None, vmin=1, vmax=5, cmap="PuBuGn")
    return styler

weather_df.loc["2021-01-04":"2021-01-08"].style.pipe(make_pretty)

## 隱藏資料
- #### hide()

In [16]:
df = pd.DataFrame(np.random.randn(5,5))
display(df)

df.style \
.hide(subset=[0, 2, 4], axis=0)\
.hide(subset=[0, 2, 4], axis=1)

          0         1         2         3         4
0  1.428494  0.269011  1.481832 -0.290689 -0.102507
1  1.070223  2.022213 -0.276138 -0.682361 -1.552233
2  0.402581  0.565994 -0.500208 -0.934115  0.194512
3  0.957823  0.048554  0.759770  0.220801 -0.455380
4 -0.262435  0.340910  1.400893  1.554458  0.091833

In [18]:
show = [0, 2, 4]
df.style\
.hide([row for row in df.index if row not in show], axis=0)\
.hide([col for col in df.columns if col not in show], axis=1)