## 格式化值,index,column
- 必需install jinja2
- format()
- format_index()

In [4]:
import pandas as pd
import numpy as np
import matplotlib as mpl

df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
df.style\
.format(precision=3, thousands=".", decimal=",")\
.format_index(str.upper, axis=1)\
.relabel_index(["row 1", "row 2"], axis=0)

In [5]:
#更進一步操作
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo", "Taipei"])

weather_df

               Tokyo   Beijing
2021-01-01  1.150990  2.686615
2021-01-02  1.355877  1.328207
2021-01-03  4.173441  2.863315
2021-01-04  3.794453  2.923724
2021-01-05  3.221810  2.006443
2021-01-06  3.309518  4.207620
2021-01-07  2.461217  3.618144
2021-01-08  4.107395  4.095372
2021-01-09  3.217588  4.641017
2021-01-10  1.552107  3.823684

In [6]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo", "Taipei"])

def rain_condition(v):
    if v < 1.75:
        return "Dry"
    elif v < 2.75:
        return "Rain"
    return "Heavy Rain"

def make_pretty(styler):
    styler.set_caption("Weather Conditions")
    styler.format(rain_condition)
    styler.format_index(lambda v: v.strftime("%A"))
    styler.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")
    return styler

weather_df.loc["2021-01-04":"2021-01-08"].style.pipe(make_pretty)