In [1]:
import pandas as pd
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [2]:
obj.values

array([ 4,  7, -5,  3])

In [3]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
import numpy as np
#自訂索引標籤
obj2 = pd.Series(np.array([4, 7, -5, 3]),index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [5]:
obj2['a']

-5

In [6]:
obj2['d']

4

In [11]:
#實體方法sort_index()
obj2_1 = obj2.sort_index(ascending=False)
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [13]:
obj2_1

d    4
c    3
b    7
a   -5
dtype: int64

In [14]:
obj2[['b', 'c']]

b    7
c    3
dtype: int64

In [15]:
#運算
obj2 = pd.Series([4, 7 , -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [16]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [18]:
np.power(obj2,2)

d    16
b    49
a    25
c     9
dtype: int64

In [20]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [22]:
boolObj = pd.Series([False,False,False,True], index=['a', 'b', 'c', 'd'])
boolObj

a    False
b    False
c    False
d     True
dtype: bool

In [24]:
obj2[boolObj]

d    4
dtype: int64

In [26]:
obj2 = pd.Series([4, 7 ,-5, 3], index=['d', 'b', 'a', 'c'])
'b' in obj2

True

In [27]:
'e' in obj2

False

In [28]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
obj3 = pd.Series(sdata)
obj3

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

In [29]:
obj3['台北']

35000

In [30]:
obj3.台北

35000

In [31]:
obj3 = pd.Series({'台北':35000, '桃園':71000, '台中':16000, '高雄':5000},index=['台中','台北'])
obj3

台中    16000
台北    35000
dtype: int64

In [32]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
states = ['花蓮','高雄', '台中', '台北']
obj4 = pd.Series(sdata,index=states)
obj4

花蓮        NaN
高雄     5000.0
台中    16000.0
台北    35000.0
dtype: float64

In [33]:
pd.isnull(obj4)

花蓮     True
高雄    False
台中    False
台北    False
dtype: bool

In [35]:
obj4.isnull()

花蓮     True
高雄    False
台中    False
台北    False
dtype: bool

In [36]:
obj4.notnull()

花蓮    False
高雄     True
台中     True
台北     True
dtype: bool

In [37]:
obj4[obj4.notnull()]

高雄     5000.0
台中    16000.0
台北    35000.0
dtype: float64

In [41]:
dataOne = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
dataTwo = {'台北':36000, '台中':19000,'桃園':73000,'高雄':9000}

objOne = pd.Series(dataOne)
objTwo = pd.Series(dataTwo)

resultObj=objTwo - objOne
resultObj.index = ['台北', '桃園', '台中', '高雄']
resultObj

台北    3000
桃園    1000
台中    2000
高雄    4000
dtype: int64

In [43]:
dataOne = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
dataTwo = {'台北':36000, '台中':19000,'高雄':9000}

objOne = pd.Series(dataOne)
objTwo = pd.Series(dataTwo)

resultObj=objTwo - objOne
#resultObj.index = ['台北', '桃園', '台中', '高雄']
resultObj[resultObj.notnull()]

台中    3000.0
台北    1000.0
高雄    4000.0
dtype: float64

In [47]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
obj5 = pd.Series(sdata)
obj5.index.name='縣市'
obj5.name = '縣市人口'
obj5

縣市
台北    35000
桃園    71000
台中    16000
高雄     5000
Name: 縣市人口, dtype: int64

In [52]:
obj = pd.Series([4, 7 , -5, 3])
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

ValueError: Length mismatch: Expected axis has 4 elements, new values have 5 elements