In [1]:
import pandas as pd

data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
frame = pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [2]:
frame.head()

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5

In [3]:
frame.values

array([['台北', 2000, 2.2],
       ['台北', 2001, 2.5],
       ['台北', 2002, 2.7],
       ['新竹', 2001, 1.1],
       ['新竹', 2002, 1.5],
       ['新竹', 2003, 2.0]], dtype=object)

In [4]:
frame.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

pd.DataFrame(data,columns=['年份','人口','縣市'])

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [9]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame2 = pd.DataFrame(data,columns=['年份','人口','縣市'],index=['one', 'two', 'three', 'four', 'five', 'six'])

In [11]:
frame2['年份']
frame2.年份

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: 年份, dtype: int64

In [13]:
frame2.loc['one']

年份    2000
人口     2.2
縣市      台北
Name: one, dtype: object

In [14]:
frame2['負債'] = 16.5
frame2

         年份   人口  縣市    負債
one    2000  2.2  台北  16.5
two    2001  2.5  台北  16.5
three  2002  2.7  台北  16.5
four   2001  1.1  新竹  16.5
five   2002  1.5  新竹  16.5
six    2003  2.0  新竹  16.5

In [15]:
frame2['負債'] = [1.0, 2.0, 3.0 , 4.0 ,5.0, 6.0]
frame2

         年份   人口  縣市   負債
one    2000  2.2  台北  1.0
two    2001  2.5  台北  2.0
three  2002  2.7  台北  3.0
four   2001  1.1  新竹  4.0
five   2002  1.5  新竹  5.0
six    2003  2.0  新竹  6.0

In [17]:
import numpy as np
frame2['負債'] = np.arange(6.)
frame2

         年份   人口  縣市   負債
one    2000  2.2  台北  0.0
two    2001  2.5  台北  1.0
three  2002  2.7  台北  2.0
four   2001  1.1  新竹  3.0
five   2002  1.5  新竹  4.0
six    2003  2.0  新竹  5.0

In [18]:
del frame2['負債']
frame2

         年份   人口  縣市
one    2000  2.2  台北
two    2001  2.5  台北
three  2002  2.7  台北
four   2001  1.1  新竹
five   2002  1.5  新竹
six    2003  2.0  新竹

In [23]:
import csv
import pandas as pd

with open('新北市食品工廠清冊.csv','r',encoding='utf-8') as file:
    rows = csv.reader(file)
    datalist = list(rows)
    datalist.pop(0)

dataFrame = pd.DataFrame(datalist)
dataFrame=dataFrame.columns = ['工廠','工廠登記編號','地址','統編','97x','97y', '緯度', '經度']
dataFrame.columns = ['工廠','工廠登記編號','地址','統編', '緯度', '經度']

,工廠,工廠登記編號,地址,統編,97x,97y,緯度,經度
0,鴻輝食品廠,99611344,新北市新莊區新莊路四九三巷四弄一一號,35567635,295271.81,2769474.82,121.448618091317,25.0327031220478
1,廣達香食品股份有限公司,99604192,新北市新莊區化成路三八二巷一八號,35549807,297142.6,2771386.31,121.467221414508,25.04990297127
2,順發糧食行,99613990,新北市板橋區縣民大道一段二八一號,33305209,296479.77,2766976.61,121.460503814584,25.0101125037041
3,台灣塩野香料股份有限公司,99600477,新北市新莊區化成路二一九號,03561504,296988.9,2771035.63,121.465686254094,25.0467418103903
4,圓金釀造食品股份有限公司,99606467,新北市新莊區新樹路二六八巷二二號,35427115,293506.24,2767400.65,121.431057250618,25.0140290966789
...,...,...,...,...,...,...,...,...
1227,元茂農產企業股份有限公司二廠,65007117,新北市新莊區五權一路3號之2(1樓),54029004,296144.93,2773120.75,121.457392108499,25.0655922866113
1228,萬寶客股份有限公司,65007172,新北市蘆洲區國道路2段25號3樓,54684830,297878.58,2774033.85,121.474607439816,25.073781780003
1229,昆帝食品有限公司,65007211,新北市五股區五權三路47號(1樓),66612826,296033.56,2773399.99,121.456297513558,25.0681166276338
1230,嚐鱻食品有限公司板橋廠,65007246,新北市板橋區和平路14巷30號1、2樓,27798177,296616.53,2764961.33,121.461790748796,24.9919141131402
1231,崴欣國際有限公司,65007247,新北市中和區中山路二段448號3樓,24456211,299358.5,2766359.34,121.489002297811,25.0044487093875