In [6]:
empty_list = []
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

another_empty_list = list()
another_empty_list

[]

In [3]:
list('cat')

['c', 'a', 't']

In [4]:
list(('ready', 'fire', 'aim'))

['ready', 'fire', 'aim']

In [5]:
birthday = '1/6/1952'
birthday.split('/')

['1', '6', '1952']

In [11]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[0]
marxes[1]
marxes[2]
marxes[-1]
marxes[7]

IndexError: list index out of range

In [13]:
 list1=['H','i'] 
 tuple1=('H','i') 
 
 print(tuple1) 
 print(list1) 
 
 #tuple1[1]='a' 
 list1[1]='a' 
 
 print(tuple1) 
 print(list1)

('H', 'i')
['H', 'i']
('H', 'i')
['H', 'a']

In [15]:
tuple1=('1','2') 
#tuple1[1]='0' 
print(tuple1)

('1', '2')

In [16]:
list1=['H','e','l','l','o', 'W','o','r','l','d']
print(list1[0])
print(list1[1])
print(list1[-1])
print(list1[-3])

H
e
d
r

In [17]:
list1=['p','y','t','h','o','n']
print(list1[-2])

o

In [23]:
scores = (70, 80, 90)
#傳統方式
print("3科的成績是:", scores[0],',', scores[1],',', scores[2])
#舊方式
print("3科的成績是:%d, %d, %d" % (scores[0], scores[1], scores[2]))
#新方式
print("3科的成績是:{}, {}, {}".format(scores[0], scores[1], scores[2]))

3科的成績是: 70 , 80 , 90
3科的成績是:70, 80, 90
3科的成績是:70, 80, 90

In [24]:
#slice
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[0:2]

['Groucho', 'Chico']

In [25]:
marxes[::2]

['Groucho', 'Harpo']

In [26]:
marxes[::-2]

['Harpo', 'Groucho']

In [27]:
marxes[::-1]

['Harpo', 'Chico', 'Groucho']

In [28]:
small_birds = ['hummingbird', 'finch']
extinct_birds = ['dodo', 'passenger pigeon', 'Norwegian Blue'] 
carol_birds = [3, 'French hens', 2, 'turtledoves']

all_birds = [small_birds, extinct_birds, 'macaw', carol_birds]
all_birds

[['hummingbird', 'finch'],
 ['dodo', 'passenger pigeon', 'Norwegian Blue'],
 'macaw',
 [3, 'French hens', 2, 'turtledoves']]

In [29]:
all_birds[0]

['hummingbird', 'finch']

In [30]:
all_birds[1]

['dodo', 'passenger pigeon', 'Norwegian Blue']

In [31]:
all_birds[1][0]

'dodo'

In [39]:
list1 = ['a', 'b', 'c']
list1.append('d')
list1

['a', 'b', 'c', 'd']

In [40]:
list1.extend(['e', 'f'])
list1

['a', 'b', 'c', 'd', 'e', 'f']

In [45]:
scores = []
sum = 0
nums = 5
for i in range(nums):
    i += 1
    print("請輸入第{}位學生的資料".format(i))
    scores.append(int(input()))

for score in scores:
    sum += score
ave = sum / nums
print("全班總成績為:{0:d},平均為{1:.2f}".format(sum, ave))

請輸入第1位學生的資料
89
請輸入第2位學生的資料
67
請輸入第3位學生的資料
81
請輸入第4位學生的資料
65
請輸入第5位學生的資料
96
全班總成績為:398,平均為79.60

In [46]:
list1 = ['this', 'is', 'list']
list1.insert(1, 'item')
print(list1)

['this', 'item', 'is', 'list']

In [47]:
list1.insert(88, '88')
list1

['this', 'item', 'is', 'list', '88']

In [48]:
#remove
#list.remove(項目內容)
list1 = ['1', 'x', '2', 'x', '3']
list1.remove('x')
list1

['1', '2', 'x', '3']

In [49]:
#pop()移除最後一筆
#pop(3),移除指定位置的資料

list1 = ['1', 'x', '2', 'x', '3']
list1.pop()
list1

['1', 'x', '2', 'x']

In [50]:
list1.pop(1)
list1

['1', '2', 'x']

In [56]:
#del 
list1 = ['1', 'x', '2', 'x', '3']
#移後2個
del list1[-2:]
list1

['1', 'x', '2']

In [57]:
#del 
list1 = ['1', 'x', '2', 'x', '3']
#移前2個
del list1[:2]
list1

['2', 'x', '3']

In [60]:
#搜尋
#index()
maxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.index('Chico')

1

In [62]:
# in運算子
'Chicoo' in maxes

False

In [ ]:
one = 'Chico'
if one in maxes:
    marxes.index(one)
else:
    print('沒有這個元素')