In [2]:
'Snap'

'Snap'

In [3]:
"Crackle"

'Crackle'

In [4]:
"'Nay,' said the naysayer."

"'Nay,' said the naysayer."

In [5]:
'The rare double quote in captivity: ".'

'The rare double quote in captivity: ".'

In [6]:
'A "two by four" is actually 1 1⁄2" × 3 1⁄2".'

'A "two by four" is actually 1 1⁄2" × 3 1⁄2".'

In [8]:
str1 = 'This is "Python"'
print(str1)
str1 = "This is \"Python\" !"
print(str1)
str1 = "test1 \n test2\\test3"
print(str1)

This is "Python"
This is "Python" !
test1
 test2\test3

In [10]:
'''Boom!'''

'Boom!'

In [11]:
'''There was a Young Lady of Norway,    Who casually sat in a doorway;
    When the door squeezed her flat,
    She exclaimed, "What of that?"
    This courageous Young Lady of Norway.'''

'There was a Young Lady of Norway,    Who casually sat in a doorway;\n    When the door squeezed her flat,\n    She exclaimed, "What of that?"\n    This courageous Young Lady of Norway.'

In [13]:
print(99+5, 'bottles', 'would be enough.')

104 bottles would be enough.

In [24]:
bottles = 99
print(bottles.__class__)
base = ''
base += ' current inventory'
base = base + str(bottles)
print(base)

 current inventory99

In [20]:
str(98.6)

'98.6'

In [22]:
str(1.0e4)

'10000.0'

In [23]:
str(True)

'True'