In [1]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.191080  1.180735 -0.590038
台中 -0.417925  1.120067 -0.172956
台南  0.289817 -1.808094  0.681927
高雄  0.441602 -1.058676  0.391594

In [3]:
np.absolute(frame)

           b         d         e
台北  0.191080  1.180735  0.590038
台中  0.417925  1.120067  0.172956
台南  0.289817  1.808094  0.681927
高雄  0.441602  1.058676  0.391594