In [4]:
import numpy as np
import pandas as pd
s1 = pd.Series([7.3, -2.5, 3.4, 1.5],index=['a','b','c','d'])
s2 = pd.Series([-2.1, 3.6, -1.5, 3.1],index=['b','a','c','d'])
s1

a    7.3
b   -2.5
c    3.4
d    1.5
dtype: float64

In [5]:
s2

b   -2.1
a    3.6
c   -1.5
d    3.1
dtype: float64

In [6]:
s1 + s2

a    10.9
b    -4.6
c     1.9
d     4.6
dtype: float64

In [7]:
s1 = pd.Series([7.3, -2.5, np.nan, 1.5],index=['a','b','c','d'])
s2 = pd.Series([-2.1, 3.6, -1.5, 3.1],index=['b','a','c','d'])
s1

a    7.3
b   -2.5
c    NaN
d    1.5
dtype: float64

In [8]:
s2

b   -2.1
a    3.6
c   -1.5
d    3.1
dtype: float64

In [9]:
s1+s2

a    10.9
b    -4.6
c     NaN
d     4.6
dtype: float64

In [12]:
df1 = pd.DataFrame(np.arange(9.0).reshape(3,3),
                   columns = list('bcd'),
                   index=['台北','台中','台南']
                  )
df1

      b    c    d
台北  0.0  1.0  2.0
台中  3.0  4.0  5.0
台南  6.0  7.0  8.0

In [13]:
df2 = pd.DataFrame(np.arange(9.0).reshape(3,3),
                   columns = list('bcd'),
                   index=['台北','台中','台南']
                  )
df2

      b    c    d
台北  0.0  1.0  2.0
台中  3.0  4.0  5.0
台南  6.0  7.0  8.0

In [14]:
df1 + df2

       b     c     d
台北   0.0   2.0   4.0
台中   6.0   8.0  10.0
台南  12.0  14.0  16.0

In [15]:
df2 = pd.DataFrame(np.arange(6.0).reshape(2,3),
                   columns = list('bcd'),
                   index=['台北','台中']
                  )
df2

      b    c    d
台北  0.0  1.0  2.0
台中  3.0  4.0  5.0

In [16]:
df1

      b    c    d
台北  0.0  1.0  2.0
台中  3.0  4.0  5.0
台南  6.0  7.0  8.0

In [17]:
df1+df2

      b    c     d
台中  6.0  8.0  10.0
台北  0.0  2.0   4.0
台南  NaN  NaN   NaN

In [18]:
#擴展方式
df1.add(df2,fill_value=0)

      b    c     d
台中  6.0  8.0  10.0
台北  0.0  2.0   4.0
台南  6.0  7.0   8.0

In [21]:
df1 / 2 + 2

      b    c    d
台北  2.0  2.5  3.0
台中  3.5  4.0  4.5
台南  5.0  5.5  6.0

In [22]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('abc'),
                     index=['高雄','台北','台中','台南'])
frame

      a     b     c
高雄  0.0   1.0   2.0
台北  3.0   4.0   5.0
台中  6.0   7.0   8.0
台南  9.0  10.0  11.0

In [23]:
series = frame.iloc[0]
series

a    0.0
b    1.0
c    2.0
Name: 高雄, dtype: float64

In [24]:
#廣播模式
frame - series

      a    b    c
高雄  0.0  0.0  0.0
台北  3.0  3.0  3.0
台中  6.0  6.0  6.0
台南  9.0  9.0  9.0

In [25]:
#sort_index,sort_values()
#rank()
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [26]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [28]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                    index = ['three', 'one'],
                    columns=['d', 'a', 'b', 'c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [29]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [30]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [33]:
obj = pd.Series([4, 7, -3, 2])
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [34]:
obj.sort_values(ascending=False)

1    7
0    4
3    2
2   -3
dtype: int64

In [35]:
frame = pd.DataFrame({'b':[4, 7, -3, 2], 'a':[0, 1, 0, 1]})
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [36]:
frame.sort_values(by='a')

   b  a
0  4  0
2 -3  0
1  7  1
3  2  1

In [37]:
frame.sort_values(by='b')

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [38]:
#排名
#rank()
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [39]:
obj.rank(method='max')

0    7.0
1    1.0
2    7.0
3    5.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [43]:
obj.rank(method='min').sort_values(ascending=False)

0    6.0
2    6.0
3    4.0
6    4.0
4    3.0
5    2.0
1    1.0
dtype: float64

In [44]:
frame = pd.DataFrame({'b':[4.3, 7, -3, 2],
                     'a':[0, 1, 0,1],
                     'c':[-2, 5, 8, -2.5]})
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [47]:
frame.sort_index(axis=1).rank(axis=1,method='min')

     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0

In [53]:
import numpy as np
import pandas as pd
scores = np.random.randint(50,101,size=(50,5))
scores_dataFrame = pd.DataFrame(scores,
                               index=range(1,51),
                                columns = ['國文', '英文', '數學', '地理', '歷史']
                               )

In [56]:
scores_dataFrame

    國文   英文   數學   地理  歷史
1   85   88  100   90  80
2   86   75   89   67  57
3   80   79   78   78  95
4   86   68   88   82  67
5   91   91   60   85  92
6   61   79   64   54  65
7   76   68   81   99  60
8   91   85   79   89  53
9   86   99   77   63  98
10  52   87   65   73  75
11  50   62   53   71  51
12  84   75   56   56  52
13  92   74   96   53  91
14  89   69   64   87  98
15  82   91   76   61  58
16  95   96   86   81  82
17  67   93   70   80  91
18  72   59   89   70  71
19  96   77   55   99  88
20  92   62   80   98  64
21  69   93   89   87  63
22  77   71   85   76  91
23  69   78   86   71  82
24  89   85   84   97  91
25  96   85   83   94  98
26  81   79   67   78  96
27  70   61   72  100  59
28  61   84   77   77  62
29  94   97   82   88  88
30  51   96   83   50  69
31  58   74   60   75  99
32  90   61   52   93  68
33  78   76   88   72  54
34  57   65   76   55  92
35  61   57   67   83  55
36  95   83   66   85  52
37  86   72   86   89  77
38  99   66   95   60  53
39  88   73   59   84  80
40  78   53   76   86  88
41  97   50   96   77  56
42  77   54   87   85  86
43  64   98   90   90  73
44  51   73   50   73  75
45  73   76   53   59  87
46  70   79   77   57  94
47  87   80   64   56  62
48  50  100  100   77  51
49  74   86   60   55  55
50  65   76   75   63  56

In [59]:
sum_value = scores_dataFrame.sum(axis=1)

In [61]:
avg_value = sum_value / 5
avg_value

1     88.6
2     74.8
3     82.0
4     78.2
5     83.8
6     64.6
7     76.8
8     79.4
9     84.6
10    70.4
11    57.4
12    64.6
13    81.2
14    81.4
15    73.6
16    88.0
17    80.2
18    72.2
19    83.0
20    79.2
21    80.2
22    80.0
23    77.2
24    89.2
25    91.2
26    80.2
27    72.4
28    72.2
29    89.8
30    69.8
31    73.2
32    72.8
33    73.6
34    69.0
35    64.6
36    76.2
37    82.0
38    74.6
39    76.8
40    76.2
41    75.2
42    77.8
43    83.0
44    64.4
45    69.6
46    75.4
47    69.8
48    75.6
49    66.0
50    67.0
dtype: float64

In [63]:
scores_dataFrame['總分'] = sum_value
scores_dataFrame

    國文   英文   數學   地理  歷史   總分
1   85   88  100   90  80  443
2   86   75   89   67  57  374
3   80   79   78   78  95  410
4   86   68   88   82  67  391
5   91   91   60   85  92  419
6   61   79   64   54  65  323
7   76   68   81   99  60  384
8   91   85   79   89  53  397
9   86   99   77   63  98  423
10  52   87   65   73  75  352
11  50   62   53   71  51  287
12  84   75   56   56  52  323
13  92   74   96   53  91  406
14  89   69   64   87  98  407
15  82   91   76   61  58  368
16  95   96   86   81  82  440
17  67   93   70   80  91  401
18  72   59   89   70  71  361
19  96   77   55   99  88  415
20  92   62   80   98  64  396
21  69   93   89   87  63  401
22  77   71   85   76  91  400
23  69   78   86   71  82  386
24  89   85   84   97  91  446
25  96   85   83   94  98  456
26  81   79   67   78  96  401
27  70   61   72  100  59  362
28  61   84   77   77  62  361
29  94   97   82   88  88  449
30  51   96   83   50  69  349
31  58   74   60   75  99  366
32  90   61   52   93  68  364
33  78   76   88   72  54  368
34  57   65   76   55  92  345
35  61   57   67   83  55  323
36  95   83   66   85  52  381
37  86   72   86   89  77  410
38  99   66   95   60  53  373
39  88   73   59   84  80  384
40  78   53   76   86  88  381
41  97   50   96   77  56  376
42  77   54   87   85  86  389
43  64   98   90   90  73  415
44  51   73   50   73  75  322
45  73   76   53   59  87  348
46  70   79   77   57  94  377
47  87   80   64   56  62  349
48  50  100  100   77  51  378
49  74   86   60   55  55  330
50  65   76   75   63  56  335

In [64]:
scores_dataFrame['平均'] = avg_value
scores_dataFrame

    國文   英文   數學   地理  歷史   總分    平均
1   85   88  100   90  80  443  88.6
2   86   75   89   67  57  374  74.8
3   80   79   78   78  95  410  82.0
4   86   68   88   82  67  391  78.2
5   91   91   60   85  92  419  83.8
6   61   79   64   54  65  323  64.6
7   76   68   81   99  60  384  76.8
8   91   85   79   89  53  397  79.4
9   86   99   77   63  98  423  84.6
10  52   87   65   73  75  352  70.4
11  50   62   53   71  51  287  57.4
12  84   75   56   56  52  323  64.6
13  92   74   96   53  91  406  81.2
14  89   69   64   87  98  407  81.4
15  82   91   76   61  58  368  73.6
16  95   96   86   81  82  440  88.0
17  67   93   70   80  91  401  80.2
18  72   59   89   70  71  361  72.2
19  96   77   55   99  88  415  83.0
20  92   62   80   98  64  396  79.2
21  69   93   89   87  63  401  80.2
22  77   71   85   76  91  400  80.0
23  69   78   86   71  82  386  77.2
24  89   85   84   97  91  446  89.2
25  96   85   83   94  98  456  91.2
26  81   79   67   78  96  401  80.2
27  70   61   72  100  59  362  72.4
28  61   84   77   77  62  361  72.2
29  94   97   82   88  88  449  89.8
30  51   96   83   50  69  349  69.8
31  58   74   60   75  99  366  73.2
32  90   61   52   93  68  364  72.8
33  78   76   88   72  54  368  73.6
34  57   65   76   55  92  345  69.0
35  61   57   67   83  55  323  64.6
36  95   83   66   85  52  381  76.2
37  86   72   86   89  77  410  82.0
38  99   66   95   60  53  373  74.6
39  88   73   59   84  80  384  76.8
40  78   53   76   86  88  381  76.2
41  97   50   96   77  56  376  75.2
42  77   54   87   85  86  389  77.8
43  64   98   90   90  73  415  83.0
44  51   73   50   73  75  322  64.4
45  73   76   53   59  87  348  69.6
46  70   79   77   57  94  377  75.4
47  87   80   64   56  62  349  69.8
48  50  100  100   77  51  378  75.6
49  74   86   60   55  55  330  66.0
50  65   76   75   63  56  335  67.0

In [72]:
rank_values = sum_value.rank(method='min',ascending=False)
scores_dataFrame['排名'] = rank_values
scores_dataFrame.sort_values(by='排名',inplace=True)

In [73]:
scores_dataFrame

    國文   英文   數學   地理  歷史   總分    平均    排名
25  96   85   83   94  98  456  91.2   1.0
29  94   97   82   88  88  449  89.8   2.0
24  89   85   84   97  91  446  89.2   3.0
1   85   88  100   90  80  443  88.6   4.0
16  95   96   86   81  82  440  88.0   5.0
9   86   99   77   63  98  423  84.6   6.0
5   91   91   60   85  92  419  83.8   7.0
43  64   98   90   90  73  415  83.0   8.0
19  96   77   55   99  88  415  83.0   8.0
3   80   79   78   78  95  410  82.0  10.0
37  86   72   86   89  77  410  82.0  10.0
14  89   69   64   87  98  407  81.4  12.0
13  92   74   96   53  91  406  81.2  13.0
26  81   79   67   78  96  401  80.2  14.0
21  69   93   89   87  63  401  80.2  14.0
17  67   93   70   80  91  401  80.2  14.0
22  77   71   85   76  91  400  80.0  17.0
8   91   85   79   89  53  397  79.4  18.0
20  92   62   80   98  64  396  79.2  19.0
4   86   68   88   82  67  391  78.2  20.0
42  77   54   87   85  86  389  77.8  21.0
23  69   78   86   71  82  386  77.2  22.0
7   76   68   81   99  60  384  76.8  23.0
39  88   73   59   84  80  384  76.8  23.0
40  78   53   76   86  88  381  76.2  25.0
36  95   83   66   85  52  381  76.2  25.0
48  50  100  100   77  51  378  75.6  27.0
46  70   79   77   57  94  377  75.4  28.0
41  97   50   96   77  56  376  75.2  29.0
2   86   75   89   67  57  374  74.8  30.0
38  99   66   95   60  53  373  74.6  31.0
15  82   91   76   61  58  368  73.6  32.0
33  78   76   88   72  54  368  73.6  32.0
31  58   74   60   75  99  366  73.2  34.0
32  90   61   52   93  68  364  72.8  35.0
27  70   61   72  100  59  362  72.4  36.0
28  61   84   77   77  62  361  72.2  37.0
18  72   59   89   70  71  361  72.2  37.0
10  52   87   65   73  75  352  70.4  39.0
30  51   96   83   50  69  349  69.8  40.0
47  87   80   64   56  62  349  69.8  40.0
45  73   76   53   59  87  348  69.6  42.0
34  57   65   76   55  92  345  69.0  43.0
50  65   76   75   63  56  335  67.0  44.0
49  74   86   60   55  55  330  66.0  45.0
12  84   75   56   56  52  323  64.6  46.0
6   61   79   64   54  65  323  64.6  46.0
35  61   57   67   83  55  323  64.6  46.0
44  51   73   50   73  75  322  64.4  49.0
11  50   62   53   71  51  287  57.4  50.0