In [8]:
# 請處理(新北市公共自行車租賃系統.json)
# google搜尋online json viewer
#api接口:https://data.ntpc.gov.tw/api/datasets/71CD1490-A2DF-4198-BEF1-318479775E8A/json?page=0&size=1000

import requests
import numpy as np
import pandas as pd

url = 'https://data.ntpc.gov.tw/api/datasets/71CD1490-A2DF-4198-BEF1-318479775E8A/json?page=0&size=1000'
response = requests.get(url)
if response.status_code == 200:
    python_json = response.json()    

df = pd.DataFrame(python_json,columns=['sna','tot','sbi','sarea','ar','bemp'])

df=df.rename(columns={'sna':'站名',
                      'sarea':'區域',
                      'ar':'地址',
                      'tot':'數量',
                      'sbi':'可借',
                      'bemp':'可還'})

In [11]:
df

               站名  數量  可借   區域                               地址  可還
0            大鵬華城  28  10  新店區                  新北市新店區中正路700巷3號  17
1           汐止火車站  44   6  汐止區                   南昌街/新昌路口(西側廣場)  34
2           汐止區公所  46   5  汐止區  新台五路一段/仁愛路口(新台五路側汐止地政事務所前機車停車場)  35
3          國泰綜合醫院  48   7  汐止區                      建成路78號對面停車場  39
4            裕隆公園  32  20  新店區                    寶中路/品牌路口(東南側)  12
..            ...  ..  ..  ...                              ...  ..
664  學士學府路口(大苑社區)  34   0  土城區                 學士路/學府路(西北側建案基地)   0
665         龍米停車場  36  20  八里區                     龍米路二段150號(旁)  15
666          雙和醫院  30   5  中和區                    中正路281號(公車亭旁)  25
667      寶高智慧產業園區  60  21  新店區                        寶高路10號(旁)  35
668   捷運三重站(1號出口)  40  23  三重區                        捷運路36號(旁)  16

[669 rows x 6 columns]

In [13]:
df=df.astype({'數量':int,'可借':int,'可還':int})
df.dtypes

站名    object
數量     int64
可借     int64
區域    object
地址    object
可還     int64
dtype: object

In [18]:
df['故障'] = df['數量'] - (df['可借']+df['可還'])
df['故障率'] = df['故障'] / df['數量']
#df['故障率'] = df['故障率'].map(lambda x:'{:.2f}%'.format(x*100))

In [19]:
df

,站名,數量,可借,區域,地址,可還,故障,故障率
0,大鵬華城,28,10,新店區,新北市新店區中正路700巷3號,17,1,3.57%
1,汐止火車站,44,6,汐止區,南昌街/新昌路口(西側廣場),34,4,9.09%
2,汐止區公所,46,5,汐止區,新台五路一段/仁愛路口(新台五路側汐止地政事務所前機車停車場),35,6,13.04%
3,國泰綜合醫院,48,7,汐止區,建成路78號對面停車場,39,2,4.17%
4,裕隆公園,32,20,新店區,寶中路/品牌路口(東南側),12,0,0.00%
...,...,...,...,...,...,...,...,...
664,學士學府路口(大苑社區),34,0,土城區,學士路/學府路(西北側建案基地),0,34,100.00%
665,龍米停車場,36,20,八里區,龍米路二段150號(旁),15,1,2.78%
666,雙和醫院,30,5,中和區,中正路281號(公車亭旁),25,0,0.00%
667,寶高智慧產業園區,60,21,新店區,寶高路10號(旁),35,4,6.67%
668,捷運三重站(1號出口),40,23,三重區,捷運路36號(旁),16,1,2.50%

In [29]:
grouped = df.groupby('區域')[['數量','可還','可借','故障']]
result = grouped.sum()
result

       數量    可還    可借   故障
區域
三峽區   798   426   346   26
三芝區    44    34    10    0
三重區  2504  1565   811  128
中和區  2060  1191   679  190
五股區   706   392   275   39
八里區   260   119   136    5
土城區  1624   931   560  133
新店區  2182  1286   776  120
新莊區  2584  1462   982  140
板橋區  4306  2874  1192  240
林口區  1198   661   492   45
樹林區  1352   766   509   77
永和區   910   506   377   27
汐止區  1732   914   707  111
泰山區   462   238   187   37
淡水區  1192   869   314    9
深坑區   134    63    58   13
瑞芳區   126    57    34   35
石門區    50    39    11    0
萬里區    50    36    11    3
蘆洲區  1088   633   432   23
金山區   162   102    49   11
鶯歌區   702   300   286  116

In [25]:
result.sort_values(by='數量')[-5:]

       數量    可還    可借   故障
區域
中和區  2060  1191   679  190
新店區  2182  1286   776  120
三重區  2504  1565   811  128
新莊區  2584  1462   982  140
板橋區  4306  2874  1192  240

In [26]:
result.sort_values(by='可還')[-5:]

       數量    可還    可借   故障
區域
中和區  2060  1191   679  190
新店區  2182  1286   776  120
新莊區  2584  1462   982  140
三重區  2504  1565   811  128
板橋區  4306  2874  1192  240

In [27]:
result.sort_values(by='可借')[-5:]

       數量    可還    可借   故障
區域
汐止區  1732   914   707  111
新店區  2182  1286   776  120
三重區  2504  1565   811  128
新莊區  2584  1462   982  140
板橋區  4306  2874  1192  240

In [28]:
result.sort_values(by='故障')[-5:]

       數量    可還    可借   故障
區域
三重區  2504  1565   811  128
土城區  1624   931   560  133
新莊區  2584  1462   982  140
中和區  2060  1191   679  190
板橋區  4306  2874  1192  240