In [1]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.412140 -0.062719 -0.612067
台中  0.934375  0.570817 -0.537339
台南 -0.411739  0.960138 -0.610390
高雄 -0.160166 -0.972095  0.120271

In [2]:
#利用numpy的功能，作用在dataFrame內
np.abs(frame)

           b         d         e
台北  0.412140  0.062719  0.612067
台中  0.934375  0.570817  0.537339
台南  0.411739  0.960138  0.610390
高雄  0.160166  0.972095  0.120271

In [9]:
def f(series):
    return series.max() - series.min()



frame.apply(f)

b    1.346515
d    1.932232
e    0.732337
dtype: float64

In [10]:
frame.apply(f,axis=1)

台北    0.549347
台中    1.471714
台南    1.570528
高雄    1.092365
dtype: float64

In [11]:
def minMax(s):
    return pd.Series([s.max(), s.min()], index=['max','min'])

frame.apply(minMax)

            b         d         e
max  0.934375  0.960138  0.120271
min -0.412140 -0.972095 -0.612067

In [12]:
#練習建立學生成績單
import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_pd.index.name="學號"
scores_pd.columns.name="科目"
scores_pd

科目  國文  英文  數學  地理  歷史
學號
1   97  84  52  93  50
2   60  74  82  65  66
3   63  51  62  60  76
4   86  90  62  91  71
5   82  71  71  62  66
6   77  74  71  70  63
7   62  61  67  68  55
8   67  63  96  60  56
9   66  62  62  52  71
10  91  78  54  78  51
11  91  65  81  90  52
12  94  84  76  63  91
13  98  51  67  83  59
14  63  78  82  97  61
15  59  88  74  61  79
16  66  77  84  87  89
17  95  61  91  78  69
18  50  82  56  55  50
19  59  82  54  76  54
20  89  62  93  52  87
21  87  77  75  91  56
22  82  70  54  51  61
23  81  56  66  75  58
24  74  54  70  59  91
25  86  53  53  54  50
26  90  87  97  58  93
27  79  61  68  96  96
28  54  93  81  51  87
29  75  61  52  57  85
30  87  58  90  70  59
31  71  58  66  67  76
32  72  66  78  76  69
33  77  51  67  82  51
34  84  90  78  77  56
35  54  89  53  89  65
36  66  50  96  70  76
37  93  93  83  81  56
38  57  68  95  74  72
39  84  98  93  81  90
40  61  97  68  88  82
41  81  70  95  76  79
42  64  81  57  70  95
43  70  87  85  68  59
44  80  61  51  69  73
45  88  64  54  51  63
46  93  73  66  60  77
47  79  92  62  55  69
48  66  71  77  82  77
49  96  90  92  62  53
50  77  65  67  87  53

In [13]:
def cal1(s):
    return pd.Series([s.min(), s.max(), s.median()], index=['最低分','最高分','中間值'])

scores_pd.apply(cal1)

科目     國文    英文    數學    地理    歷史
最低分  50.0  50.0  51.0  51.0  50.0
最高分  98.0  98.0  97.0  97.0  96.0
中間值  78.0  71.0  70.5  70.0  67.5