In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.322844 -0.737852
1    a  two  0.378390  0.968351
2    b  one -1.034758 -0.585220
3    b  two -0.491796 -0.264956
4    a  one  0.007204  0.885403

In [5]:
#單獨取出群組的資料
for name, group in df.groupby('key1'):
    print(name)
    print(group)
    print(group.__class__)
    print("======")

a
  key1 key2     data1     data2
0    a  one  0.322844 -0.737852
1    a  two  0.378390  0.968351
4    a  one  0.007204  0.885403
<class 'pandas.core.frame.DataFrame'>
======
b
  key1 key2     data1     data2
2    b  one -1.034758 -0.585220
3    b  two -0.491796 -0.264956
<class 'pandas.core.frame.DataFrame'>
======

In [7]:
dic1=dict([('tw','taiwan'),('jp','japan'),('hk','hongkong')])

In [9]:
dic1['jp']

'japan'

In [16]:
list(df.groupby('key1'))

[('a',
    key1 key2     data1     data2
  0    a  one  0.322844 -0.737852
  1    a  two  0.378390  0.968351
  4    a  one  0.007204  0.885403),
 ('b',
    key1 key2     data1     data2
  2    b  one -1.034758 -0.585220
  3    b  two -0.491796 -0.264956)]

In [19]:
key1Dict=dict(list(df.groupby('key1')))
key1Dict

{'a':   key1 key2     data1     data2
 0    a  one  0.322844 -0.737852
 1    a  two  0.378390  0.968351
 4    a  one  0.007204  0.885403,
 'b':   key1 key2     data1     data2
 2    b  one -1.034758 -0.585220
 3    b  two -0.491796 -0.264956}

In [20]:
key1Dict['a']

  key1 key2     data1     data2
0    a  one  0.322844 -0.737852
1    a  two  0.378390  0.968351
4    a  one  0.007204  0.885403

In [21]:
key1Dict['b']

  key1 key2     data1     data2
2    b  one -1.034758 -0.585220
3    b  two -0.491796 -0.264956

In [14]:
df

  key1 key2     data1     data2
0    a  one  0.322844 -0.737852
1    a  two  0.378390  0.968351
2    b  one -1.034758 -0.585220
3    b  two -0.491796 -0.264956
4    a  one  0.007204  0.885403

In [22]:
key2Dict=dict(list(df.groupby('key2')))
key2Dict['one']

  key1 key2     data1     data2
0    a  one  0.322844 -0.737852
2    b  one -1.034758 -0.585220
4    a  one  0.007204  0.885403

In [23]:
key2Dict['two']

  key1 key2     data1     data2
1    a  two  0.378390  0.968351
3    b  two -0.491796 -0.264956