In [2]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
                    index=['台北','台中','台南','高雄'],
                    columns = ['b', 'd', 'e'])
np.abs(frame)

           b         d         e
台北  0.182304  1.451078  0.998624
台中  0.230988  1.145713  2.225977
台南  3.006856  0.330446  1.084667
高雄  0.882421  0.245430  0.230807

In [3]:
frame

           b         d         e
台北 -0.182304  1.451078  0.998624
台中  0.230988  1.145713 -2.225977
台南 -3.006856  0.330446  1.084667
高雄  0.882421  0.245430  0.230807

In [4]:
def a1(x):
    return x.max() - x.min()
frame.apply(a1)

b    3.889277
d    1.205647
e    3.310645
dtype: float64