In [2]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
                    index=['台北','台中','台南','高雄'],
                    columns = ['b', 'd', 'e'])
np.abs(frame)

           b         d         e
台北  0.182304  1.451078  0.998624
台中  0.230988  1.145713  2.225977
台南  3.006856  0.330446  1.084667
高雄  0.882421  0.245430  0.230807

In [3]:
frame

           b         d         e
台北 -0.182304  1.451078  0.998624
台中  0.230988  1.145713 -2.225977
台南 -3.006856  0.330446  1.084667
高雄  0.882421  0.245430  0.230807

In [5]:
def a1(x):
    return x.max() - x.min()
frame.apply(a1,axis='columns')

台北    1.633381
台中    3.371690
台南    4.091523
高雄    0.651615
dtype: float64

In [6]:
frame.apply(lambda x: x.max() - x.min(), axis='columns')

台北    1.633381
台中    3.371690
台南    4.091523
高雄    0.651615
dtype: float64

In [7]:
frame.apply(lambda x:pd.Series([x.min(),x.max()],index=['min','max']))

            b         d         e
min -3.006856  0.245430 -2.225977
max  0.882421  1.451078  1.084667

In [8]:
#練習建立學生成績單
import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_pd.index.name="學號"
scores_pd.columns.name="科目"
scores_pd

科目  國文   英文  數學   地理  歷史
學號
1   84   56  74   72  69
2   75   53  99   66  85
3   68   63  61   50  77
4   53   82  79   78  66
5   82   75  89   62  99
6   81   84  86   56  76
7   76   73  66   73  56
8   73   60  74   95  50
9   81   67  80   80  96
10  87   63  66   60  53
11  66   56  99   92  53
12  61   79  70   63  53
13  73  100  50   96  84
14  83   52  85   87  50
15  93   92  71   65  87
16  93   72  69   99  69
17  91   87  82   82  92
18  66   99  82   53  80
19  76  100  74   87  95
20  70   52  95   81  80
21  69   92  83   90  64
22  62   67  58   80  56
23  74  100  70   76  51
24  97   63  64   65  91
25  83   81  53   89  79
26  66   71  97   91  71
27  65   74  61   58  79
28  77   86  67   51  83
29  94   66  83   59  94
30  71   59  56   62  99
31  74   70  80   61  98
32  75   93  86   78  88
33  77   68  94   89  60
34  78   94  57   80  84
35  67   77  89   88  72
36  85   73  92   72  81
37  92   73  50   66  61
38  61   75  54   51  75
39  60   56  58   78  55
40  95   50  54   77  69
41  70   80  57   60  63
42  71   68  90   99  64
43  55   67  88   99  61
44  96   52  60   73  50
45  66   70  61   79  99
46  72   83  69   96  96
47  56   52  86   63  94
48  84   58  55   99  87
49  62   91  76   70  89
50  60   93  86  100  50

In [11]:
scores_pd.apply(lambda x:pd.Series([x.min(),x.max(),x.median()],index=['最低分','最高分','中間值']))

科目     國文     英文    數學     地理    歷史
最低分  53.0   50.0  50.0   50.0  50.0
最高分  97.0  100.0  99.0  100.0  99.0
中間值  74.0   72.5  74.0   77.5  76.5

In [12]:
def cal1(s):
    return pd.Series([s.min(),s.max(),s.median()],index=['最低分','最高分','中間值'])
scores_pd.apply(cal1)

科目     國文     英文    數學     地理    歷史
最低分  53.0   50.0  50.0   50.0  50.0
最高分  97.0  100.0  99.0  100.0  99.0
中間值  74.0   72.5  74.0   77.5  76.5