In [1]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.412140 -0.062719 -0.612067
台中  0.934375  0.570817 -0.537339
台南 -0.411739  0.960138 -0.610390
高雄 -0.160166 -0.972095  0.120271

In [2]:
#利用numpy的功能，作用在dataFrame內
np.abs(frame)

           b         d         e
台北  0.412140  0.062719  0.612067
台中  0.934375  0.570817  0.537339
台南  0.411739  0.960138  0.610390
高雄  0.160166  0.972095  0.120271