In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.193155 -2.006826
1    a  two  2.097353  0.378351
2    b  one  0.570364  0.257933
3    b  two  0.822596  0.168783
4    a  one -0.278369  1.494161

In [4]:
df[['data1','data2']].sum(axis=1)

0   -1.813671
1    2.475704
2    0.828297
3    0.991379
4    1.215792
dtype: float64

In [5]:
df[['data1','data2']].sum(axis=0)

data1    3.405100
data2    0.292401
dtype: float64