In [15]:

import requests
from io import StringIO
import csv

url = "https://github.com/roberthsu2003/PythonForDataAnalysis/raw/master/pandas%E7%9A%84%E5%9F%BA%E7%A4%8E%E5%8A%9F%E8%83%BD/%E4%B8%8A%E5%B8%82%E5%85%AC%E5%8F%B8%E8%B3%87%E6%96%99.csv"

response = requests.get(url)
file=StringIO(response.text)
csv_reader = csv.reader(file)

In [16]:
import numpy as np
import pandas as pd

dataFrame = pd.DataFrame(csv_reader)
dataFrame

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,﻿出表日期,資料年月,公司代號,公司名稱,產業別,營業收入-當月營收,營業收入-上月營收,營業收入-去年當月營收,營業收入-上月比較增減(%),營業收入-去年同月增減(%),累計營業收入-當月累計營收,累計營業收入-去年累計營收,累計營業收入-前期比較增減(%),備註
1,1110912,11108,1102,亞泥,水泥工業,7069221,7864622,7193266,-10.113658355099584,-1.724460071405673,59102719,54657145,8.13356423940548,-
2,1110912,11108,1108,幸福,水泥工業,390053,326691,249977,19.395085876256157,56.03555527108494,2599544,2635052,-1.3475255896278329,去年同期本公司石材減產，致本月與去年同期相較增加50%以上。
3,1110912,11108,1109,信大,水泥工業,478276,557403,591358,-14.195653772943453,-19.12242668569631,4040555,4781224,-15.491200579600537,-
4,1110912,11108,1110,東泥,水泥工業,176935,134470,109276,31.579534468654717,61.915699696182145,1073546,1203643,-10.808603547729684,主要係母公司東南水泥股份有限公司以及子公司東南高良資源再生股份有限公司銷貨收入較去年同期增加
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,1110912,11108,9942,茂順,其他,352730,349111,336002,1.036633047941772,4.978541794394081,2601215,2512658,3.524435080301418,-
836,1110912,11108,9943,好樂迪,觀光事業,212912,197756,5090,7.663989967434617,4082.9469548133598,1465862,1062550,37.956990259281916,110年5月15日起配合防疫政策，暫停營業
837,1110912,11108,9944,新麗,其他,179660,231139,178668,-22.271879691441082,0.5552197371661406,1877352,1848775,1.5457262241213776,-
838,1110912,11108,9955,佳龍,其他,81881,85625,109319,-4.372554744525547,-25.099022127900913,826811,994253,-16.840985141608826,-
839,1110912,11108,9958,世紀鋼,鋼鐵工業,757968,651699,1073536,16.306454360065,-29.39519494455705,5374177,6195141,-13.25174035586922,-

In [17]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       840 non-null    object
 1   1       840 non-null    object
 2   2       840 non-null    object
 3   3       840 non-null    object
 4   4       840 non-null    object
 5   5       840 non-null    object
 6   6       840 non-null    object
 7   7       840 non-null    object
 8   8       840 non-null    object
 9   9       840 non-null    object
 10  10      840 non-null    object
 11  11      840 non-null    object
 12  12      840 non-null    object
 13  13      840 non-null    object
dtypes: object(14)
memory usage: 92.0+ KB

In [18]:
dataFrame = dataFrame.loc[:,'0':'5']

In [19]:
dataFrame.columns = dataFrame.iloc[0]
dataFrame=dataFrame.drop(index=0)

0      ﻿出表日期   資料年月  公司代號 公司名稱   產業別 營業收入-當月營收
1    1110912  11108  1102   亞泥  水泥工業   7069221
2    1110912  11108  1108   幸福  水泥工業    390053
3    1110912  11108  1109   信大  水泥工業    478276
4    1110912  11108  1110   東泥  水泥工業    176935
5    1110912  11108  1213   大飲  食品工業     38696
..       ...    ...   ...  ...   ...       ...
835  1110912  11108  9942   茂順    其他    352730
836  1110912  11108  9943  好樂迪  觀光事業    212912
837  1110912  11108  9944   新麗    其他    179660
838  1110912  11108  9955   佳龍    其他     81881
839  1110912  11108  9958  世紀鋼  鋼鐵工業    757968

[839 rows x 6 columns]

In [23]:
dataFrame.iloc[:10] #前10筆
dataFrame.iloc[-10:] #後10筆
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 1 to 839
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ﻿出表日期      839 non-null    object
 1   資料年月       839 non-null    object
 2   公司代號       839 non-null    object
 3   公司名稱       839 non-null    object
 4   產業別        839 non-null    object
 5   營業收入-當月營收  839 non-null    object
dtypes: object(6)
memory usage: 39.5+ KB

In [28]:
#[]搜尋
#搜尋公司名稱為東泥的資料
dataFrame[dataFrame['公司名稱'] == '東泥']

0    ﻿出表日期   資料年月  公司代號 公司名稱   產業別 營業收入-當月營收
4  1110912  11108  1110   東泥  水泥工業    176935

In [29]:
#[]搜尋
#搜尋公司名稱為東泥和好樂迪的資料
dataFrame[(dataFrame['公司名稱'] == '東泥') | (dataFrame['公司名稱'] == '好樂迪')]

0      ﻿出表日期   資料年月  公司代號 公司名稱   產業別 營業收入-當月營收
4    1110912  11108  1110   東泥  水泥工業    176935
836  1110912  11108  9943  好樂迪  觀光事業    212912

In [32]:
#[]搜尋
#產業別->水泥工業
dataFrame[dataFrame['產業別'] == "水泥工業"]

0    ﻿出表日期   資料年月  公司代號 公司名稱   產業別 營業收入-當月營收
1  1110912  11108  1102   亞泥  水泥工業   7069221
2  1110912  11108  1108   幸福  水泥工業    390053
3  1110912  11108  1109   信大  水泥工業    478276
4  1110912  11108  1110   東泥  水泥工業    176935

In [33]:
#[]搜尋
#產業別->水泥工業或者觀光事業
dataFrame[(dataFrame['產業別'] == "水泥工業") | (dataFrame['產業別'] == "觀光事業")]

0      ﻿出表日期   資料年月  公司代號   公司名稱   產業別 營業收入-當月營收
1    1110912  11108  1102     亞泥  水泥工業   7069221
2    1110912  11108  1108     幸福  水泥工業    390053
3    1110912  11108  1109     信大  水泥工業    478276
4    1110912  11108  1110     東泥  水泥工業    176935
384  1110912  11108  2701     萬企  觀光事業     19414
385  1110912  11108  2702     華園  觀光事業    132331
386  1110912  11108  2704     國賓  觀光事業    112335
387  1110912  11108  2706    第一店  觀光事業     23681
388  1110912  11108  2707     晶華  觀光事業    525276
389  1110912  11108  2712    遠雄來  觀光事業     90289
390  1110912  11108  2722     夏都  觀光事業    114328
391  1110912  11108  2723  美食-KY  觀光事業   1733154
392  1110912  11108  2731     雄獅  觀光事業    256632
393  1110912  11108  2748     雲品  觀光事業    167123
797  1110912  11108  8462     柏文  觀光事業    323006
807  1110912  11108  8940    新天地  觀光事業     33790
836  1110912  11108  9943    好樂迪  觀光事業    212912

In [34]:
#query()搜尋
#搜尋公司名稱為東泥的資料
dataFrame.query('公司名稱 == "東泥"')

0    ﻿出表日期   資料年月  公司代號 公司名稱   產業別 營業收入-當月營收
4  1110912  11108  1110   東泥  水泥工業    176935

In [37]:
dataFrame.query('公司名稱 == "東泥"')

0    ﻿出表日期   資料年月  公司代號 公司名稱   產業別 營業收入-當月營收
4  1110912  11108  1110   東泥  水泥工業    176935

In [36]:
dataFrame.query('公司名稱 == "東泥" or 公司名稱 == "好樂迪"')

0      ﻿出表日期   資料年月  公司代號 公司名稱   產業別 營業收入-當月營收
4    1110912  11108  1110   東泥  水泥工業    176935
836  1110912  11108  9943  好樂迪  觀光事業    212912