In [1]:
#排序和排名
#sort_index()
#sort_values()
#rank()

import numpy as np
import pandas as pd

obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [2]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [3]:
obj.sort_index(ascending=False)

d    0
c    3
b    2
a    1
dtype: int64

In [4]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                    index = ['three', 'one'],
                    columns=['d', 'a', 'b', 'c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [5]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [6]:
frame.sort_index(axis='columns')

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [8]:
#sort_value()
obj = pd.Series([4, 7, -3, 2])
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [9]:
frame = pd.DataFrame({'b':[4, 7, -3, 2], 'a':[0, 1, 0, 1]})
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [11]:
frame.sort_values(by='b')

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [12]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [13]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [14]:
obj.rank(method='first').sort_values()

1    1.0
5    2.0
4    3.0
3    4.0
6    5.0
0    6.0
2    7.0
dtype: float64