In [1]:
import pandas as pd 
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

city_frame = pd.DataFrame(data)
city_frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [2]:
city_frame['縣市']

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

In [4]:
city_frame[['年份','縣市']]

     年份  縣市
0  2000  台北
1  2001  台北
2  2002  台北
3  2001  新竹
4  2002  新竹
5  2003  新竹

In [ ]:
city_frame[['年份']]