In [1]:
import numpy as np
import pandas as pd

obj = pd.Series([4.5, 7.2, -5.3, 3.6],index=['d','b','a','c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [4]:
obj1 = obj.reindex(index=['a','b','c'])
obj1

a   -5.3
b    7.2
c    3.6
dtype: float64

In [6]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                    index = ['a', 'c','d'],
                    columns=['台北','台中','高雄'],
                    )
frame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [9]:
#同時選取索引和欄位
frame.reindex(index=['a','d'],columns=['台中','高雄'])

   台中  高雄
a   1   2
d   7   8