In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.157335 -0.302163
1    a  two  0.342973 -1.280729
2    b  one -2.897447 -0.713950
3    b  two -0.022765  2.935725
4    a  one -1.192171 -0.873607

In [5]:
#Serialçš„Groupby()
df['data1'].groupby(df['key1']).mean()

key1
a   -0.230621
b   -1.460106
Name: data1, dtype: float64