In [40]:

import requests
from io import StringIO
import csv

url = "https://github.com/roberthsu2003/PythonForDataAnalysis/raw/master/pandas%E7%9A%84%E5%9F%BA%E7%A4%8E%E5%8A%9F%E8%83%BD/%E4%B8%8A%E5%B8%82%E5%85%AC%E5%8F%B8%E8%B3%87%E6%96%99.csv"

response = requests.get(url)
file=StringIO(response.text)
csv_reader = csv.reader(file)

In [41]:
import numpy as np
import pandas as pd

dataFrame = pd.DataFrame(csv_reader)

In [42]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       840 non-null    object
 1   1       840 non-null    object
 2   2       840 non-null    object
 3   3       840 non-null    object
 4   4       840 non-null    object
 5   5       840 non-null    object
 6   6       840 non-null    object
 7   7       840 non-null    object
 8   8       840 non-null    object
 9   9       840 non-null    object
 10  10      840 non-null    object
 11  11      840 non-null    object
 12  12      840 non-null    object
 13  13      840 non-null    object
dtypes: object(14)
memory usage: 92.0+ KB

In [45]:
dataFrame = dataFrame.loc[:,'0':'5']

In [48]:
dataFrame.columns = dataFrame.iloc[0]
dataFrame=dataFrame.drop(index=0)

In [49]:
dataFrame

0      ﻿出表日期   資料年月  公司代號 公司名稱   產業別 營業收入-當月營收
1    1110912  11108  1102   亞泥  水泥工業   7069221
2    1110912  11108  1108   幸福  水泥工業    390053
3    1110912  11108  1109   信大  水泥工業    478276
4    1110912  11108  1110   東泥  水泥工業    176935
5    1110912  11108  1213   大飲  食品工業     38696
..       ...    ...   ...  ...   ...       ...
835  1110912  11108  9942   茂順    其他    352730
836  1110912  11108  9943  好樂迪  觀光事業    212912
837  1110912  11108  9944   新麗    其他    179660
838  1110912  11108  9955   佳龍    其他     81881
839  1110912  11108  9958  世紀鋼  鋼鐵工業    757968

[839 rows x 6 columns]