In [1]:
import numpy as np
import pandas as pd

dataFrame = pd.DataFrame([[1.4, np.nan],
                  [7.1, -4.5],
                  [np.nan, np.nan],
                  [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=["one", "two"])

dataFrame

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [2]:
dataFrame.sum()

one    9.25
two   -5.80
dtype: float64

In [3]:
dataFrame.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [5]:
#使用numpy的function
frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄']
                    )
frame

           b         d         e
台北 -1.215921  1.647640 -0.441370
台中 -0.734537 -0.183015 -0.449901
台南  1.319220 -1.388593  0.328677
高雄 -0.716789  0.235505  0.579623

In [6]:
np.abs(frame)

           b         d         e
台北  1.215921  1.647640  0.441370
台中  0.734537  0.183015  0.449901
台南  1.319220  1.388593  0.328677
高雄  0.716789  0.235505  0.579623