In [1]:
import pandas as pd 
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

city_frame = pd.DataFrame(data)
city_frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [2]:
city_frame['縣市']

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

In [4]:
city_frame[['年份','縣市']]

     年份  縣市
0  2000  台北
1  2001  台北
2  2002  台北
3  2001  新竹
4  2002  新竹
5  2003  新竹

In [ ]:
city_frame[['年份']]

In [9]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame2 = pd.DataFrame(data,
                      columns=['年份','人口','縣市','負債'],
                      index = ['one', 'two', 'three', 'four', 'five','six'])
frame2

         年份   人口  縣市   負債
one    2000  2.2  台北  NaN
two    2001  2.5  台北  NaN
three  2002  2.7  台北  NaN
four   2001  1.1  新竹  NaN
five   2002  1.5  新竹  NaN
six    2003  2.0  新竹  NaN

In [11]:
frame2.縣市

one      台北
two      台北
three    台北
four     新竹
five     新竹
six      新竹
Name: 縣市, dtype: object

In [13]:
frame2['負債'] = [6, 7, 8, 9, 10, 11]
frame2

         年份   人口  縣市  負債
one    2000  2.2  台北   6
two    2001  2.5  台北   7
three  2002  2.7  台北   8
four   2001  1.1  新竹   9
five   2002  1.5  新竹  10
six    2003  2.0  新竹  11

In [14]:
frame2.loc['one']

年份    2000
人口     2.2
縣市      台北
負債       6
Name: one, dtype: object

In [16]:
frame2.loc['seven'] = [2005, 3.0,'台北',12]
frame2

         年份   人口  縣市  負債
one    2000  2.2  台北   6
two    2001  2.5  台北   7
three  2002  2.7  台北   8
four   2001  1.1  新竹   9
five   2002  1.5  新竹  10
six    2003  2.0  新竹  11
seven  2005  3.0  台北  12

In [18]:
frame2['縣市'] == '台北'

one       True
two       True
three     True
four     False
five     False
six      False
seven     True
Name: 縣市, dtype: bool

In [20]:
frame2[frame2['縣市'] == '台北']

         年份   人口  縣市  負債
one    2000  2.2  台北   6
two    2001  2.5  台北   7
three  2002  2.7  台北   8
seven  2005  3.0  台北  12

In [24]:
frame2.index.name='索引'
frame2.columns.name='欄位'
frame2

欄位       年份   人口  縣市  負債
索引
one    2000  2.2  台北   6
two    2001  2.5  台北   7
three  2002  2.7  台北   8
four   2001  1.1  新竹   9
five   2002  1.5  新竹  10
six    2003  2.0  新竹  11
seven  2005  3.0  台北  12