In [1]:
import numpy as np
import pandas as pd

obj = pd.Series([4.5, 7.2, -5.3, 3.6],index=['d','b','a','c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [4]:
obj1 = obj.reindex(index=['a','b','c'])
obj1

a   -5.3
b    7.2
c    3.6
dtype: float64

In [6]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                    index = ['a', 'c','d'],
                    columns=['台北','台中','高雄'],
                    )
frame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [9]:
#同時選取索引和欄位
frame.reindex(index=['a','d'],columns=['台中','高雄'])

   台中  高雄
a   1   2
d   7   8

In [10]:
#drop
obj = pd.Series(np.arange(5),
                index=['a','b','c','d','e'])
obj

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [11]:
obj.drop('a')

b    1
c    2
d    3
e    4
dtype: int64

In [13]:
obj.drop(['a','b'])

c    2
d    3
e    4
dtype: int64

In [14]:
dataFrame = pd.DataFrame(np.arange(16).reshape((4,4)),
                         index = ['台北','台中', '台南', '高雄'],
                         columns = ['one', 'two', 'three', 'four']
                        )
dataFrame

    one  two  three  four
台北    0    1      2     3
台中    4    5      6     7
台南    8    9     10    11
高雄   12   13     14    15

In [15]:
dataFrame.drop(index=['台北'],columns=['three'])

    one  two  four
台中    4    5     7
台南    8    9    11
高雄   12   13    15

In [16]:
#索引、選取、過濾
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [19]:
#index
obj[1]
type(obj[1])

numpy.float64

In [18]:
obj['b']

1.0

In [21]:
obj[['a','b']]
type(obj[['a','b']])

pandas.core.series.Series

In [22]:
#slice
obj['a':'c']

a    0.0
b    1.0
c    2.0
dtype: float64

In [24]:
#過濾
obj[obj<=1]

a    0.0
b    1.0
dtype: float64