In [1]:
import numpy as np
import pandas as pd

dataFrame = pd.DataFrame([[1.4, np.nan],
                  [7.1, -4.5],
                  [np.nan, np.nan],
                  [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=["one", "two"])

dataFrame

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [2]:
dataFrame.sum()

one    9.25
two   -5.80
dtype: float64

In [3]:
dataFrame.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64