In [5]:
#nd_array要求裏面的資料類型必需要相同
import numpy as np

temps_array = np.array([27,29.3,31.2])
#temps_array = temps_array * 5 / 8 + 32
print(temps_array)
print(temps_array.ndim)
print(temps_array.shape)
print(temps_array.size)
print(temps_array.dtype)

[27.  29.3 31.2]
1
(3,)
3
float64

In [11]:
#建立Series
#一維資料,建立成為Series
import pandas as pd
temps_series = pd.Series([27,29.3,31.2],index=['台北','台中','高雄'])
temps_series

台北    27.0
台中    29.3
高雄    31.2
dtype: float64

In [10]:
#Series的核心是numpy
temps_series.values
temps_series.to_numpy()

array([27. , 29.3, 31.2])

In [13]:
#由外層2維list建立DataFrame
#DataFrame是2維資料

temps_dataFrame = pd.DataFrame([[27, 29.3, 31.2],[28.7, 29.3, 31.3]],
                                index=[2021,2022],
                                columns=['台北','台中','高雄'])
temps_dataFrame

        台北    台中    高雄
2021  27.0  29.3  31.2
2022  28.7  29.3  31.3

In [14]:
#由外層dictionary建立DtatFrame
temps_dataFrame = pd.DataFrame({
                                '台北':[27.0, 28.7],
                                '台中':[29.3, 29.3],
                                '高雄':[31.2, 31.3]
                               },index=[2021, 2022])
temps_dataFrame

        台北    台中    高雄
2021  27.0  29.3  31.2
2022  28.7  29.3  31.3