In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.157335 -0.302163
1    a  two  0.342973 -1.280729
2    b  one -2.897447 -0.713950
3    b  two -0.022765  2.935725
4    a  one -1.192171 -0.873607

In [6]:
#Serial的Groupby()
df['data1'].groupby(by=df['key1']).mean()

key1
a   -0.230621
b   -1.460106
Name: data1, dtype: float64

In [13]:
means = df['data1'].groupby(by=[df['key1'],df['key2']]).sum()
means

key1  key2
a     one    -1.034836
      two     0.342973
b     one    -2.897447
      two    -0.022765
Name: data1, dtype: float64

In [11]:
means.unstack(level='key2')

key2       one       two
key1
a    -1.034836  0.342973
b    -2.897447 -0.022765

In [12]:
means.unstack(level='key1')

key1         a         b
key2
one  -1.034836 -2.897447
two   0.342973 -0.022765

In [16]:
df['data1'].groupby(['台北','台中','台中','台北','台北']).sum()

台中   -2.554473
台北   -1.057601
Name: data1, dtype: float64

In [18]:
#dataFrame的Groupby
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

0    1.106608
1   -0.702923
2   -0.734811
3    0.836657
4   -0.469953
Name: data1, dtype: float64

In [22]:
df.groupby(by='key1')['data1'].sum()

key1
a   -0.066268
b    0.101846
Name: data1, dtype: float64

In [23]:
df.groupby(by='key1')[['data1','data2']].sum()

         data1     data2
key1
a    -0.066268  1.534043
b     0.101846 -0.806288

In [28]:
df.groupby(by=['key1','key2'])[['data1','data2']].sum()

              data1     data2
key1 key2
a    one   0.636655  1.112932
     two  -0.702923  0.421111
b    one  -0.734811 -0.663931
     two   0.836657 -0.142357