In [1]:
import numpy as np
import pandas as pd
#階層式索引
data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -1.709371
   2    1.145078
   3    0.550908
b  1    0.305105
   2    0.423831
c  3    0.019879
   1   -0.539047
d  2   -0.206585
   3    1.295902
dtype: float64

In [2]:
data['b']

1    0.305105
2    0.423831
dtype: float64

In [3]:
data['b':'c']

b  1    0.305105
   2    0.423831
c  3    0.019879
   1   -0.539047
dtype: float64

In [4]:
data.loc['d',2]

-0.2065852426069064

In [5]:
data.loc['d',[2,3]]

d  2   -0.206585
   3    1.295902
dtype: float64

In [6]:
data

a  1   -1.709371
   2    1.145078
   3    0.550908
b  1    0.305105
   2    0.423831
c  3    0.019879
   1   -0.539047
d  2   -0.206585
   3    1.295902
dtype: float64

In [7]:
#對資料做reshape
data.unstack(level=1)

          1         2         3
a -1.709371  1.145078  0.550908
b  0.305105  0.423831       NaN
c -0.539047       NaN  0.019879
d       NaN -0.206585  1.295902

In [8]:
#對資料做reshape
data.unstack(level=0)

          a         b         c         d
1 -1.709371  0.305105 -0.539047       NaN
2  1.145078  0.423831       NaN -0.206585
3  0.550908       NaN  0.019879  1.295902

In [12]:
#對資料做reshape
data.unstack(level=0).stack()

1  a   -1.709371
   b    0.305105
   c   -0.539047
2  a    1.145078
   b    0.423831
   d   -0.206585
3  a    0.550908
   c    0.019879
   d    1.295902
dtype: float64