In [1]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -0.249431
   2   -0.299783
   3   -0.749270
b  1    1.178524
   2   -0.395252
c  3   -0.032189
   1    0.046119
d  2    1.404208
   3    0.132493
dtype: float64

In [3]:
data['d']

2    1.404208
3    0.132493
dtype: float64

In [4]:
data['b':'c']

b  1    1.178524
   2   -0.395252
c  3   -0.032189
   1    0.046119
dtype: float64

In [5]:
data.loc[['b','d']]

b  1    1.178524
   2   -0.395252
d  2    1.404208
   3    0.132493
dtype: float64

In [6]:
data.loc[:,2]

a   -0.299783
b   -0.395252
d    1.404208
dtype: float64

In [9]:
data.unstack(fill_value=0)

          1         2         3
a -0.249431 -0.299783 -0.749270
b  1.178524 -0.395252  0.000000
c  0.046119  0.000000 -0.032189
d  0.000000  1.404208  0.132493

In [10]:
data.unstack(fill_value=0).stack()

a  1   -0.249431
   2   -0.299783
   3   -0.749270
b  1    1.178524
   2   -0.395252
   3    0.000000
c  1    0.046119
   2    0.000000
   3   -0.032189
d  1    0.000000
   2    1.404208
   3    0.132493
dtype: float64

In [11]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame

       台北        台中
    Green Red Green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [12]:
frame.index.names=['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [15]:
frame[('台北','Green')]

key1  key2
a     1       0
      2       3
b     1       6
      2       9
Name: (台北, Green), dtype: int64