In [1]:
import pandas as pd
#Series
obj=pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [2]:
obj.index = ["Bob", 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [3]:
#DataFrame
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
frame = pd.DataFrame(data=data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [6]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame1 = pd.DataFrame(data,columns=['年份','人口','縣市'])
frame1

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [7]:
frame1['年份']

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

In [8]:
frame1['人口']

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [9]:
frame1['縣市']

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

In [10]:
frame1.loc[0]

年份    2000
人口     2.2
縣市      台北
Name: 0, dtype: object