In [1]:
import pandas as pd
#Series
obj=pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [2]:
obj.index = ["Bob", 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [3]:
#DataFrame
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
frame = pd.DataFrame(data=data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [6]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame1 = pd.DataFrame(data,columns=['年份','人口','縣市'])
frame1

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [7]:
frame1['年份']

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

In [8]:
frame1['人口']

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [9]:
frame1['縣市']

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

In [10]:
frame1.loc[0]

年份    2000
人口     2.2
縣市      台北
Name: 0, dtype: object

In [12]:
frame1['負債'] = 16.5
frame1

     年份   人口  縣市    負債
0  2000  2.2  台北  16.5
1  2001  2.5  台北  16.5
2  2002  2.7  台北  16.5
3  2001  1.1  新竹  16.5
4  2002  1.5  新竹  16.5
5  2003  2.0  新竹  16.5

In [13]:
frame1['負債'] = [1,2,3,4,5,6]
frame1

     年份   人口  縣市  負債
0  2000  2.2  台北   1
1  2001  2.5  台北   2
2  2002  2.7  台北   3
3  2001  1.1  新竹   4
4  2002  1.5  新竹   5
5  2003  2.0  新竹   6

In [14]:
import numpy as np
frame1['負債'] = np.arange(6)
frame1

     年份   人口  縣市  負債
0  2000  2.2  台北   0
1  2001  2.5  台北   1
2  2002  2.7  台北   2
3  2001  1.1  新竹   3
4  2002  1.5  新竹   4
5  2003  2.0  新竹   5

In [15]:
#刪除欄位
del frame1['負債']
frame1

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [20]:
s1 = frame1['人口']
s1[2] = 3.0
s1

/var/folders/sc/qdlfmrjj53d2nb74qg378bq00000gn/T/ipykernel_1289/2903827691.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s1[2] = 3.0

0    2.2
1    2.5
2    3.0
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [21]:
frame1

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  3.0  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [23]:
newS = frame1['人口'].copy()
newS[2] = 10.0
newS

0     2.2
1     2.5
2    10.0
3     1.1
4     1.5
5     2.0
Name: 人口, dtype: float64

In [24]:
frame1

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  3.0  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [25]:
pop = {
    '台北':{2001:2.4, 2002:2.9},
    '高雄':{2000:1.5, 2001:1.7, 2002:3.6}
      }
frame3 = pd.DataFrame(pop)
frame3

       台北   高雄
2001  2.4  1.7
2002  2.9  3.6
2000  NaN  1.5

In [27]:
frame3.index.name="年份"
frame3.columns.name = "縣市"
frame3

縣市     台北   高雄
年份
2001  2.4  1.7
2002  2.9  3.6
2000  NaN  1.5

In [28]:
frame3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])