In [13]:
import numpy as np
import pandas as pd
obj=pd.Series([4, 7, -5, 3])
print(obj.__class__)
obj

<class 'pandas.core.series.Series'>

0    4
1    7
2   -5
3    3
dtype: int64

In [8]:
obj.values

array([ 4,  7, -5,  3])

In [9]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
#自訂索引
obj2 = pd.Series(data=[4, 7 ,-5, 3],index=['台北','台中', '高雄', '台南'])
obj2

台北    4
台中    7
高雄   -5
台南    3
dtype: int64

In [15]:
obj2['台中'] = 10
obj2

台北     4
台中    10
高雄    -5
台南     3
dtype: int64

In [16]:
obj2.index

Index(['台北', '台中', '高雄', '台南'], dtype='object')

In [18]:
obj2[['台北', '台中', '高雄']]

台北     4
台中    10
高雄    -5
dtype: int64

In [19]:
#Series和運算元的數學運算和比較
obj3 = pd.Series([80, 90, 75, 65], index=['chinese', 'english', 'math', 'history'])
obj3

chinese    80
english    90
math       75
history    65
dtype: int64

In [20]:
obj3 * 1.1

chinese    88.0
english    99.0
math       82.5
history    71.5
dtype: float64

In [21]:
obj3 >= 80

chinese     True
english     True
math       False
history    False
dtype: bool

In [23]:
obj3[obj3 >= 80]

chinese    80
english    90
dtype: int64

In [24]:
obj3[obj3 < 80]

math       75
history    65
dtype: int64